
/*Make bootstrap grok some Angular*/
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

input:focus.ng-dirty.ng-invalid:focus,
textarea:focus.ng-dirty.ng-invalid:focus,
select:focus.ng-dirty.ng-invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

input:required:focus{
  border-width: 0px;
  -webkit-box-shadow: 0 0 0px black;
     -moz-box-shadow: 0 0 0px black;
          box-shadow: 0 0 0px black;
}

#loginform input.ng-dirty.ng-invalid,
#loginform textarea.ng-dirty.ng-invalid,
#loginform select.ng-dirty.ng-invalid,
#loginform :required {
  color: black;
  border-width: 0px;
}

#loginform a {
  color: #999;
}

#loginform input:focus.ng-dirty.ng-invalid:focus,
#loginform textarea:focus.ng-dirty.ng-invalid:focus,
#loginform select:focus.ng-dirty.ng-invalid:focus {
  border-width: 0px;
  -webkit-box-shadow: 0 0 0px #f8b9b7;
     -moz-box-shadow: 0 0 0px #f8b9b7;
          box-shadow: 0 0 0px #f8b9b7;
}

body { 
	background: url(/images/stockholmsvy.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero-unit h1{
  font-size: 55px;
}

/*Make room for the top bar*/
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.box {
  /*background-color: #eee; # same as standard hero unit*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.padhack {
  padding: 15px;
}

.opaque {
  background: rgb(255, 255, 255) transparent; /* default fallback */
  background: rgba(255, 255, 255, 0.8); /* nice browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); /* IE 6/7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; /* IE8 */
  }
}

form input {
  margin: 5px;
}

html {
	overflow-y: scroll; 
}

