
/*Forcing vertical scrollbar to prevent jumping*/
html {
  overflow-y: scroll; 
}

/*GREEN for ok. Semantics*/
.okness {
  color: #198a00;
}

.checkmark {
  margin-left: 5px;
}

/*Make bootstrap grok some Angular*/

/*Ng says invalid for whatever reason. Red*/
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/*Invalid and in focus. Glowy red*/
input:focus.ng-dirty.ng-invalid,
textarea:focus.ng-dirty.ng-invalid,
select:focus.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

/*Valid. Blue*/
input.ng-valid {
  color: #00a8ed;
  border-color: #00a8ed;
}

/*Valid and in focus. Glowy blue*/
input:focus.ng-valid {
  color: #00a8ed;
  border-color: #00a8ed;
}

/*Background image for entire app*/
body { 
	background: url(/images/stockholmsvy.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Landing hero, duh.*/
.hero-unit h1{
  font-size: 55px;
}

/*Make room for the top bar*/
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/*Rounding of those dangerous corners*/
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Hacking padding bootstrap.row.span. Needs to be put in a div.*/
.padhack {
  padding: 15px;
}

/*Set element background to white and make that same BACKGROUND transparent*/
.opaque {
  background: rgb(255, 255, 255) transparent; /* default fallback */
  background: rgba(255, 255, 255, 0.8); /* nice browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); /* IE 6/7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; /* IE8 */
  }
}

