<%# coding: utf-8 %>
<p>Hej<%= " #{user.first_name}" unless user.first_name.blank? %>!</p>

<p>För ett tag sedan registrerade du dig som medlem hos oss på HittaLyan.se.
 Just nu erbjuder vi en veckas prenumeration på lägenhetstips gratis. 
 Du aktiverar prenumerationen genom att <a href="http://www.hittalyan.se/<%=user._id%>/aktivera_testperiod">klicka här</a>.</p>
 
 <p>Genom att klicka på längen förbinder du dig självklart inte till att betala något. 
 Prenumerationen avslutas automatiskt efter 7 dagar har passerat. 
 Du kan när som helst välja att förlänga prenumerationen om du önskar.</p>

<p>Vi önskar dig lycka till med ditt bostadssökande!</p>

<p>Med vänliga hälsningar,<br/>
HittaLyan-teamet</p>
