<%# coding: utf-8 %>
<!doctype html>
<html lang='se'>
  <head>
    <meta charset='utf-8'>
    <title>HittaLyan - Prenumerationspåminnelse</title>
  </head>
  <body>
    <p>Hej<%= " #{user.first_name}" unless user.first_name.blank? %>!</p>
    <p>
      Din prenumeration kommer att upphöra inom kort. Om du vill fortsätta
      få lägenhetstips måste du förnya din prenumeration via
      <a href="http://www.hittalyan.se/hashbang/medlemssidor/prenumeration" rel="nofollow">
        prenumerationssidan</a>.
    </p>
    <p>Med vänliga hälsningar,<br/>
    HittaLyan-teamet</p>
    <hr/>
    <p>
      <a href="<%= @user.unsubscribe_from_email_communications_link %>" rel="nofollow">Klicka här</a> om du ej längre vill få allmänna e-postmeddelanden från oss.<br/>
      <a href="<%= @user.unsubscribe_from_all_emails_link %>" rel="nofollow">Klicka här</a> om du inte vill få några fler e-postmeddelanden överhuvudtaget från oss.
    </p>
  </body>
</html>
