<%# coding: utf-8 %>
<h1>Välkommen som prenumerant!</h1>

<p>Här kommer lite instruktioner för att du ska komma igång.</p>

<h2>1. Kontrollera att lägenhetstipsen kommer fram</h2>
<p>Om du vill ha lägenhetstips via e-post är det viktigt att veta att utskicken faktiskt kommer fram. 
Skräppostfilter kan nämligen ibland fånga dessa.
Därför har vi precis skickat iväg ett annat e-postmeddelande från hittalyan@lingonberryproductions.com, 
som är den e-postadress lägenhetstipsen kommer ifrån. 
Ligger meddelandet i din inkorg behöver du inte göra något.
Annars kan du kolla bland din skräppost och sedan markera att meddelandet inte är skräppost.</p>


<h2>2. Aktivera lägenhetstips</h2>
<p>Om du inte redan varit inne på din inställningssida och aktiverat den eller de typer av lägenhetstips du vill ha så måste du göra det.
Där kan du även ställa in ditt intressefilter.</p>


<h2>3. Registrera dig hos hyresvärdar</h2>
<p>För att kunna anmäla intresse på lägenheter hos flera av hyresvärdarna måste du registrera dig på hyresvärdens egna hemsida.
Hyresvärdarna det gäller är:</p>
  <li><a href="http://www.akelius.se/">Akelius</a></li>
  <li><a href="http://www.graflunds.se/">Graflunds</a></li>
  <li><a href="http://haningebostader.se/">Haninge Bostäder</a></li>
  <li><a href="http://www.hasselbyhem.se/">Hässelby Hem</a></li>
  <li><a href="http://www.ikanobostad.se/">Ikano Bostad</a></li>
  <li><a href="http://www.bostad.stockholm.se/">Stockholms Stads Bostadsförmedling</a></li>
  <li><a href="http://upplands-brohus.se/">Upplands-Brohus</a></li>
  <li><a href="http://www.vasbyhem.se/">Väsbyhem</a></li>

<p>Om du registrerar dig hos hyresvärdarna är du beredd när du får tips från oss om lägenheter!</p>

<p>Med undantag från Stockholms Stads Bostadsförmedling är det gratis att registrera sig.
Det kan dock vara bra att veta att hyresvärdarna Heba, Stena och Wallenstam publicerar sina lägenheter via Stockholms Stads Bostadsförmedling.
Är du intresserad av deras lägenheter bör du därför ställa dig i Stockholms Stads Bostadsförmedlings kö 
(vilket gör att du kan anmäla dig till de först-till-kvarn-lägenheter som publiceras på deras <i>Bostadssnabben</i>).</p>


<h2>Slutligen</h2>
<p>Undrar du något mer kan du kontakta oss via formuläret <a href="http://www.hittalyan.se/#!/om">här</a>.</p>

<p>Vi önskar dig lycka till med ditt bostadssökande!</p>

<p>Med vänliga hälsningar,<br/>
HittaLyan-teamet</p>
