.row
  .span12.box.opaque
    .padhack
      %h1 Om oss
      :markdown
        HittaLyan är en tjänst för att hjälpa dig att hitta en bostad.
        Det är gratis att bli medlem, men för att fullt ut kunna utnyttja tjänsten betalar du månadsvis för ett premiumpaket.
        Vi som står bakom tjänsten är ett företag som heter Lingonberry Productions.
