.row
  .span12.box.opaque
    .padhack
      %span(id="links")
        %a(href="#/medlemssidor") Medlemssidor
        |
        %a(href="#/medlemssidor/installningar") Inställningar
        %hr
      %table(id="apartments-list")
        %legend Lägenheter
        %tr(ng-repeat="apartment in apartments")
          %td
            %img(src="images/arnoldpumping_small.jpg")
          %td
            %a(href="{{apartment.url}}") Till hyresvärden
            %br {{apartment.address}}