.row
  .span3.bottom-buffer
    #member-nav.box.opaque
      .padhack  
        %ul.nav.nav-stacked.nav-pills
          %li
            %a{href: "#!/medlemssidor"} Medlemssidor
          %li
            %a{href: "#!/medlemssidor/installningar"} Inställningar
          %li
            %a{href: "#!/medlemssidor/lagenheter"} Lägenheter
          %li
            %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
  .span9.box.opaque
    .padhack
      .alert(ng-hide="userData.active")
        Obs! För att få lägenhetstips måste du aktivera en prenumeration.
        %a(href="#!/medlemssidor/prenumeration") Gå till prenumerationer
      %h2 Lägenheter
      .row-fluid.bottom-buffer(ng-repeat="apartment in apartments")
        .span3
          %a(href="{{apartment.url}}")
            %img.apartment-image(src="images/apartments.png"
                 alt="Lägenhet")
        .span9
          %strong Ort: 
          {{apartment.city}}
          %br
          %strong Adress: 
          {{apartment.address}}
          %br
          %strong Rum: 
          {{apartment.rooms}}
          %br
          %strong Yta: 
          {{apartment.area}}
          %br
          %strong Hyra: 
          {{apartment.rent}}
          %br
          %em
            Lägenheten publicerades 
            {{apartment.advertisement_found_at | date: 'yyyy-MM-dd HH:mm:ss'}}
          %br
          %a(href="{{apartment.url}}") Se lägenheten hos {{apartment.landlord}}
            
