.row
  .span12.box.opaque
    .padhack
      %span(id="links")
        %a(href="#/medlemssidor") Medlemssidor
        |
        %a(href="#/medlemssidor/installningar") Inst채llningar
        %hr
      %table(id="apartments-list")
        %legend L채genheter
        %tr(ng-repeat="apartment in apartments")
          %td
            %a(href="{{apartment.url}}")
              %img(src="images/home_icon.png"
                   title="Av SpoonGraphics (http://commons.wikimedia.org/wiki/File:Home_icon_blue.png).")
          %td
            %br
            %strong Adress: 
            {{apartment.address}}
            %br
            %strong Rum: 
            {{apartment.rooms}}
            %br
            %strong Yta: 
            {{apartment.area}} kvm
            %br
            %strong Hyra: 
            {{apartment.rent}} kr
            %br
            %em
              L채genheten publicerades 
              {{ apartment.advertisement_found_at | date: 'yyyy-MM-dd HH:mm:ss' }}
            %br
            %a(href="{{apartment.url}}") Till hyresv채rden