.row
  .span12.box.opaque
    .padhack
      %h1 Medlemssidor
.row.top-buffer
  .span2.box.opaque
    .padhack  
      %ul.nav.nav-list.vertical-nav-box
        %li
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#!/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
  .span10.box.opaque
    .padhack
      %h2 Lägenheter
      %table(id="apartments-list")
        %tr(ng-repeat="apartment in apartments")
          %td
            %a(href="{{apartment.url}}")
              %img(src="images/home_icon.png"
                   title="Av SpoonGraphics (http://commons.wikimedia.org/wiki/File:Home_icon_blue.png).")
          %td
            %strong Ort:
            {{apartment.city}}
            %br
            %strong Adress: 
            {{apartment.address}}
            %br
            %strong Rum: 
            {{apartment.rooms}}
            %br
            %strong Yta: 
            {{apartment.area}} kvm
            %br
            %strong Hyra: 
            {{apartment.rent}} kr
            %br
            %em
              Lägenheten publicerades 
              {{apartment.advertisement_found_at | date: 'yyyy-MM-dd HH:mm:ss'}}
            %br
            %a(href="{{apartment.url}}") Se lägenheten hos {{apartment.landlord}}
