.row
  .span3.bottom-buffer
    #member-nav
      %ul.nav.nav-stacked.nav-pills
        %li.box.opaque
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li.box.opaque
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li.box.opaque
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
    #member-info-box
      .box.opaque
        .alert.alert-info(ng-show="userData.active")
          Din prenumeration gäller fram till och med {{oneDayBefore(userData.premium_until) | date: 'yyyy-MM-dd'}}.
          %div(ng-show="userData.sms_until && smsActiveState")
            SMS är aktiverat fram till och med {{oneDayBefore(userData.sms_until) | date: 'yyyy-MM-dd'}}.
  .span9.box.opaque
    .padhack
      .alert.alert-info
        Ditt köp bearbetas. Var vänlig kontrollera din e-post.
        %a.btn.btn-primary.btn-compact(href="{{emailProvider.url}}" target="_blank" ng-show="emailProvider.url") Gå till {{emailProvider.displayName}}
