.row
  .span3.bottom-buffer(ng-controller="MemberSidebarController" ng-include="memberSidebarUrl")
  .span9.box.opaque
    .padhack
      .alert.alert-info
        Ditt köp bearbetas. Var vänlig kontrollera din e-post.
        %a.btn.btn-primary.btn-compact(href="{{emailProvider.url}}" target="_blank" ng-show="emailProvider.url") Gå till {{emailProvider.displayName}}

<!-- Facebook Conversion Code for Köp -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6026001576371', {'value':'0.01','currency':'SEK'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026001576371&amp;cd[value]=0.01&amp;cd[currency]=SEK&amp;noscript=1" /></noscript>

<!-- Google Code for K&ouml;p av prenumeration Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 984866425;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "_0YoCMjI_FoQ-bzP1QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/984866425/?label=_0YoCMjI_FoQ-bzP1QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
