.row
  .span3.bottom-buffer(ng-controller="MemberSidebarController" ng-include="memberSidebarUrl")
  .span9.box.opaque
    .padhack
      .alert.alert-info
        Ditt köp bearbetas. Var vänlig kontrollera din e-post.
        %a.btn.btn-primary.btn-compact(href="{{emailProvider.url}}" target="_blank" ng-show="emailProvider.url") Gå till {{emailProvider.displayName}}

<!-- Facebook Conversion Code for Köp -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6026001576371', {'value':'0.01','currency':'SEK'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026001576371&amp;cd[value]=0.01&amp;cd[currency]=SEK&amp;noscript=1" /></noscript>
