.row
  .span3.bottom-buffer
    #member-nav.box.opaque
      .padhack  
        %ul.nav.nav-stacked.nav-pills
          %li
            %a{href: "#!/medlemssidor"} Medlemssidor
          %li
            %a{href: "#!/medlemssidor/installningar"} Inställningar
          %li
            %a{href: "#!/medlemssidor/lagenheter"} Lägenheter
          %li
            %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
  .span9.box.opaque
    .padhack
      .alert.alert-info Ditt köp bearbetas. Var vänlig kontrollera din e-post.
