.row
  .span12.box.opaque
    .padhack
      %h1 Ändra lösenord
.row.top-buffer
  .span2.box.opaque
    .padhack  
      %ul.nav.nav-list.vertical-nav-box
        %li
          %a{href: "#/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#/medlemssidor/losenord"} Ändra lösenord
        %li
          %a{href: "#/medlemssidor/premiumtjanster"} Premiumtjänster
  .span10.box.opaque
    .padhack
      %form(name="passwordChange" ng-submit="submit()" novalidate)
        %fieldset
          %legend Ändra Lösenord
          %label(for="new_password") Nytt lösenord:
          %input(type="password"
                 name="new_password"
                 id="new_password"
                 ng-model="new_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36")
          %label(for="repeat_password") Upprepa:
          %input(type="password"
                 name="repeat_password"
                 id="repeat_password"
                 ng-model="repeat_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36")
          %label(for="area") Ditt gamla lösenord:
          %input(type="password"
                 name="old_password"
                 id="old_password"
                 ng-model="old_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36")
          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Spara")
