.row
  .span12.box.opaque
    .padhack
      %h2 Mer, och mindre, vanliga frågor. Ibland med svar.
      %p
        Q. Vem är du?
        %br
        A. Jag är jag.
      %p
        Q. Vem är jag?
        %br
        A. Du är du.
      %p
        Q. Var finner jag närmsta bar för att dränka min förvirring?
        %br
        A. Get high on life.
      %p
        Troll. Durrrr. Har har har!