.row
  .span12.box.opaque
    .padhack
      %h1 Vanliga frågor
      %h2 1. Betalning med Payson
      :markdown
        Betalning sker enkelt och säkert med Payson. Även om du inte har ett Paysonkonto sedan tidigare kan du snabbt göra transaktionen via Payson. Payson samarbetar med VISA, MasterCard samt alla svenska banker som erbjuder direktbetalningar: Swedbank, Handelsbanken, SEB och Nordea.

        Payson håller höga säkerhetskrav och är PCI-certifierade av Trustwave som är en internationell organisation för säker e-handel. All trafik krypteras genom SSL 128 bitar och alla kortöverföringar bygger på bankernas så kallade 3D-secure teknik.

        Payson startade 2004 i Sverige och över en miljon personer har använt Payson som är en välkänd betallösning på internet.

        Läs mer om Payson här: [www.payson.se](http://www.payson.se/)
      %img(src="images/payson.png")
