.row
  .span12.box.opaque
    .padhack
      %h1 Medlemssidor
.row.top-buffer
  .span2.box.opaque
    .padhack  
      %ul.nav.nav-list.vertical-nav-box
        %li
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#!/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
  .span10.box.opaque
    .padhack
      .alert(ng-hide="userData.active")
        Obs! För att få lägenhetstips måste du aktivera en prenumeration.
        %a(href="#!/medlemssidor/prenumeration") Gå till prenumerationer

      %form(name="allSettingsForm" ng-submit="submitAllSettings()" novalidate)
        %fieldset
          %legend Intressefilter
          .alert.alert-info(ng-hide="userData.has_changed_filter_settings")
            :markdown
              **Tips:** Ställ hellre in filtret på _vad du kan tänka dig_ än vad
              du helst vill ha. Du kan alltid begränsa filtret senare. 
              Vår rekommendation är att vänta ett par dagar innan du ändrar ditt
              filter så att du får se vilken typ av lägenheter som hyresvärdarna
              lägger upp och till vilket pris.
          %table(id="rooms" name="roomsTable")
            %tr
              %td
                %label(for="roomsMin") Minimalt antal rum:
              %td
                %label(for="roomsMax") Maximalt antal rum:
            %tr
              %td
                %select(ng-model="roomsMin"
                        name="roomsMin"
                        id="roomsMin"
                        ng-options="r.name for r in roomValuesMin")
                  %option(value="" 
                          disabled="disabled")Minimalt antal rum
              %td
                %select(ng-model="roomsMax"
                        name="roomsMax"
                        id="roomsMax"
                        ng-options="r.name for r in roomValuesMax")
                  %option(value=""
                          disabled="disabled")Maximalt antal rum
            %tr
              %td
                %label(for="roomsMin") Minimal yta:
              %td
                %label(for="roomsMax") Maximal yta:
            %tr
              %td
                %select(ng-model="areaMin"
                        name="areaMin"
                        id="areaMin"
                        ng-options="a.name for a in areaValuesMin")
                  %option(value="" 
                          disabled="disabled")Minimal yta
              %td
                %select(ng-model="areaMax"
                        name="areaMax"
                        id="areaMax"
                        ng-options="a.name for a in areaValuesMax")
                  %option(value=""
                          disabled="disabled")Maximal yta
            %tr
              %td
                %label(for="rent") Maximal hyra:
            %tr
              %td
                %select(ng-model="rent"
                        name="rent"
                        id="rent"
                        ng-options="r.name for r in rentValues")
                  %option(value="" 
                          disabled="disabled")Maximal Hyra

          %label
            Städer:
            .form-horizontal.custom-input
              %select(ng-model="city"
                      name="city"
                      id="city"
                      ng-options="city.name for city in cities")
                %option(value=""
                        disabled="disabled")Välj stad
              %button(type="button" class="btn" ng-click="addCity()") Lägg till stad
          %label
            Valda städer:
            %br
            %div.custom-input
              %span(ng-repeat="city in userData.filter.cities"
                    class="city")
                {{city}}
                %a(href="" class="icon-remove checkmar icon-large"
                   ng-click="removeCity(city)")
            %br
        
        %fieldset
          %legend Meddelandesätt
          %label.checkbox
            %input(type="checkbox" ng-model="userData.notify_by_sms") SMS
          %label.checkbox
            %input(type="checkbox" ng-model="userData.notify_by_email") E-post
          / %label.checkbox
          /   %input(type="checkbox" ng-model="userData.notify_by_push_note") Pushmeddelande
        
        %fieldset
          %legend Personlig information
          %label(for="first-name") Förnamn:
          %input(type="text"
                name="first-name"
                placeholder="Förnamn"
                id="first-name"
                ng-model="userData.first_name")
          %label(for="lastname") Efternamn:
          %input(type="text"
                name="last-name"
                placeholder="Efternamn"
                id="last-name"
                ng-model="userData.last_name")
          %label(for="mobileNumber") Mobilnummer:
          %input(type="text"
                name="mobileNumber"
                placeholder="Mobilnummer"
                ng-required="userData.notify_by_sms"
                id="mobileNumber"
                ng-model="userData.mobile_number")
          %span(ng-show="allSettingsForm.mobileNumber.$error.required")
            %i(class='icon-remove checkmark wrongness icon-large')
            Mobilnummer måste anges om SMS-utskick önskas
          %br
          %label.checkbox
            %input(type="checkbox" ng-model="userData.permits_to_be_emailed")
              Jag ger mitt medgivande till att ni kontaktar mig via e-post.
          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Spara")
          %span(ng-bind-html="allSettings.feedBackSymbol")
          %span {{allSettings.message}}

.row.top-buffer
  .span10.offset2.box.opaque
    .padhack
      %form(name="passwordChange" ng-submit="submitPasswordSettings()" novalidate)
        %fieldset
          %legend Ändra Lösenord
          %label(for="new_password") Nytt lösenord:
          %input(type="password"
                 name="new_password"
                 id="new_password"
                 ng-model="new_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36"
                 placeholder="Nytt lösenord")
          %label(for="repeat_password") Upprepa lösenord:
          %input(type="password"
                 name="repeat_password"
                 id="repeat_password"
                 ng-model="repeat_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36"
                 placeholder="Upprepa lösenord")
          %label(for="area") Ditt gamla lösenord:
          %input(type="password"
                 name="old_password"
                 id="old_password"
                 ng-model="old_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36"
                 placeholder="Ditt gamla lösenord")
          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Ändra lösenord")
          %span(ng-bind-html="passwordSettings.feedBackSymbol")
          %span {{passwordSettings.message}}
      
.row.top-buffer
  .span10.offset2.box.opaque
    .padhack
      %form(name="accountTermination" ng-submit="terminateAccount()" novalidate)
        %fieldset
          %legend Avsluta medlemskap
          :markdown
            Om du vill avsluta ditt medlemskap kan du göra det genom att fylla i ditt lösenord och trycka på knappen nedan.
            Då tar vi bort ditt användarkonto och därmed all information om dig.
            **Observera att detta innebär att eventuella prenumerationsdagar/SMS försvinner.**

            Tänk på att prenumerationer avslutas automatiskt när de går ut.
            Du behöver alltså aldrig säga upp din prenumeration självmant.
            Möjligheten att avsluta ditt medlemskap finns för att du ska kunna ta bort ditt användarkonto om du önskar.
          %label(for="termination-password") Lösenord:
          %input(type="password"
                name="termination-password"
                id="termination-password"
                ng-model="terminationPassword"
                required
                ng-minlength="6"
                ng-maxlength="36"
                placeholder="Lösenord")
          %br
          %input(type="submit"
                 class="btn"
                 name="terminate-account"
                 value="Avsluta medlemskap")
          %span(ng-bind-html="accountTermination.feedBackSymbol")
          %span {{accountTermination.message}}
