.row
  .span12.box.opaque
    .padhack
      %form(name="filtersettings" ng-submit="submit()" novalidate)
        %fieldset
          %legend Filterinställningar
          %label(for="rooms") Antal rum:
          %select(ng-model="roomsMin"
                  name="rooms"
                  class="select")
            %option(value="" 
                    disabled="disabled")Minimalt antal rum
            %option(ng-repeat="val in roomValues"
                    value="{{val}}") {{val}}
          %select(ng-model="roomsMax"
                  class="slct")
            %option(value=""
                    disabled="disabled")Maximalt antal rum
            %option(ng-repeat="val in roomValues"
                    value="{{val}}") {{val}}
            %option(value="999") 10+

          %label(for="area") Area:
          %select(ng-model="areaMin"
                  name="area")
            %option(value="" 
                    disabled="disabled")Minimal area
            %option(ng-repeat="val in areaValues"
                    value="{{val}}") {{val}}
          %select(ng-model="areaMax")
            %option(value=""
                    disabled="disabled")Maximal area
            %option(ng-repeat="val in areaValues"
                    value="{{val}}") {{val}}
            %option(value="9999") 150+

          %label(for="rent") Hyra:
          %select(ng-model="rent"
                  name="rent")
            %option(value="" 
                    disabled="disabled")Maximal hyra
            %option(ng-repeat="val in rentValues"
                    value="{{val}}") {{val}}
            %option(value="999999") 15000+

          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Spara")