%form{id: "filter", action: "/filter", method: "post"}
  %fieldset
    %legend Filterinställningar
    %label{for: "rooms"} Rum:
    %input{type: "text", name: "rooms", id: "rooms"}
    %label{for: "rent"} Hyra:
    %input{type: "text", name: "rent", id: "rent"}
    %label{for: "area"} Area:
    %input{type: "text", name: "area", id: "area"}
    %input{type: "submit", name: "save", value: "Spara"}