.row
  .span3.bottom-buffer
    #member-nav
      %ul.nav.nav-stacked.nav-pills
        %li.box.opaque
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li.box.opaque
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li.box.opaque
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
    #member-info-box
      .box.opaque
        .alert(ng-show="showUserInactiveMessage")
          Du har ingen aktiv prenumeration.
          %a(href="#!/medlemssidor/prenumeration") Förläng din prenumeration
        .alert.alert-info(ng-show="userData.active")
          Din prenumeration gäller fram till och med {{oneDayBefore(userData.premium_until) | date: 'yyyy-MM-dd'}}.
          %div(ng-show="userData.sms_until && smsActiveState")
            SMS är aktiverat fram till och med {{oneDayBefore(userData.sms_until) | date: 'yyyy-MM-dd'}}.
  .span9.box.opaque
    .padhack
      .alert(ng-show="showUserInactiveMessage")
        Obs! För att få lägenhetstips måste du aktivera en prenumeration.
        %a(href="#!/medlemssidor/prenumeration") Gå till prenumerationer

      %form(name="allSettingsForm" ng-submit="submitAllSettings()" novalidate)
        %fieldset
          %legend Intressefilter
          .alert.alert-info.alert-block(ng-hide="userData.has_changed_filter_settings")
            :markdown
              **Tips:** Ställ hellre in filtret på _vad du kan tänka dig_ än vad du helst vill ha.
              Du kan alltid begränsa filtret senare. 
              Vår rekommendation är att vänta ett par dagar innan du ändrar ditt filter så att du får se vilken typ 
              av lägenheter som hyresvärdarna lägger upp och till vilket pris.
          .alert(ng-show="manyApartmentsEstimate")
            Med dessa filterinställningar hade du fått <strong>{{apartmentsEstimate}}</strong> lägenhetstips den senaste månaden.
          .alert.alert-error(ng-show="fewApartmentsEstimate")
            Med dessa filterinställningar hade du fått <strong>{{apartmentsEstimate}}</strong> lägenhetstips den senaste månaden.
          
          %label(for="roomsMin") Minsta antal rum:
          %select(ng-model="roomsMin"
                        name="roomsMin"
                        id="roomsMin"
                        ng-options="r.name for r in roomValuesMin"
                        ng-change="changeHandler()")
            %option(value="" 
                    disabled="disabled") Minsta antal rum

          %label(for="roomsMin") Minsta antal kvm:
          %select(ng-model="areaMin"
                        name="areaMin"
                        id="areaMin"
                        ng-options="a.name for a in areaValuesMin"
                        ng-change="changeHandler()")
            %option(value="" 
                    disabled="disabled") Minsta antal kvm
          %label(for="rent") Maxhyra:
          %select(ng-model="rent"
                        name="rent"
                        id="rent"
                        ng-options="r.name for r in rentValues"
                        ng-change="changeHandler()")
            %option(value="" 
                    disabled="disabled") Maxhyra
                
          %label
            Städer:
            .form-horizontal.custom-input
              %select(ng-model="city"
                      name="city"
                      id="city"
                      ng-options="city.name for city in cities")
                %option(value=""
                        disabled="disabled")Välj stad
              %button(type="button" class="btn" ng-click="addCity()") Lägg till stad
          %label
            Valda städer:
            %br
            %div.custom-input
              %span(ng-repeat="city in userData.filter.cities"
                    class="city")
                {{city}}
                %a(href="" class="icon-remove checkmar icon-large"
                   ng-click="removeCity(city)")
            %br
        
        %fieldset
          %legend Meddelandesätt
          .bottom-buffer
            %label.checkbox
              %input(type="checkbox" ng-model="userData.notify_by_sms" ng-click="submitAllSettings()") SMS
              .alert.alert-error(ng-show="userData.notify_by_sms && ! smsActiveState")
                Din prenumeration inkluderar inte SMS. 
                %a(href="#!/medlemssidor/prenumeration") Lägg till SMS
            %label.checkbox
              %input(type="checkbox" ng-model="userData.notify_by_email" ng-click="submitAllSettings()") E-post
            / %label.checkbox
            /   %input(type="checkbox" ng-model="userData.notify_by_push_note") Pushmeddelande
          %label.checkbox
            %input(type="checkbox" ng-model="userData.notification_times" ng-click="submitAllSettings()") Jag vill inte få lägenhetstips nattetid
          %div(ng-show="userData.notification_times")
            %label(for="roomsMin") Sluta skicka lägenhetstips:
            %select(ng-model="stopSend"
                          name="stopSend"
                          id="stopSend"
                          ng-options="stop.name for stop in stopSendValues"
                          ng-change="submitAllSettings()")
              %option(value="2300" 
                      disabled="disabled") Sluta skicka lägenhetstips

            %label(for="roomsMin") Börja skicka lägenhetstips:
            %select(ng-model="startSend"
                          name="startSend"
                          id="startSend"
                          ng-options="start.name for start in startSendValues"
                          ng-change="submitAllSettings()")
              %option(value="0700" 
                      disabled="disabled") Börja skicka lägenhetstips
        %fieldset
          %legend Personlig information
          %label(for="first-name") Förnamn:
          %input(type="text"
                name="first-name"
                placeholder="Förnamn"
                id="first-name"
                ng-model="userData.first_name"
                ng-change="submitAllSettings()")
          %label(for="lastname") Efternamn:
          %input(type="text"
                name="last-name"
                placeholder="Efternamn"
                id="last-name"
                ng-model="userData.last_name"
                ng-change="submitAllSettings()")
          %label(for="mobileNumber") Mobilnummer:
          %input(type="text"
                name="mobileNumber"
                placeholder="Mobilnummer"
                ng-required="userData.notify_by_sms"
                id="mobileNumber"
                ng-model="userData.mobile_number"
                ng-change="mobileNumberChangeHandler()")
          %span(ng-show="allSettingsForm.mobileNumber.$error.required")
            %i(class='icon-remove checkmark wrongness icon-large')
            Mobilnummer måste anges om SMS-utskick önskas
          %span(ng-show="! validMobileNumber")
            %i(class='icon-remove checkmark wrongness icon-large')
            Ogiltigt mobilnummer
          %br
          %label.checkbox
            %input(type="checkbox" ng-model="userData.permits_to_be_emailed" ng-click="submitAllSettings()")
              Jag ger mitt medgivande till att ni kontaktar mig via e-post.

.row.top-buffer
  .span9.offset3.box.opaque
    .padhack
      %form(name="passwordChange" ng-submit="submitPasswordSettings()" novalidate)
        %fieldset
          %legend Ändra Lösenord
          %label(for="new_password") Nytt lösenord:
          %input(type="password"
                 name="new_password"
                 id="new_password"
                 ng-model="new_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36"
                 placeholder="Nytt lösenord")
          %label(for="repeat_password") Upprepa lösenord:
          %input(type="password"
                 name="repeat_password"
                 id="repeat_password"
                 ng-model="repeat_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36"
                 placeholder="Upprepa lösenord")
          %label(for="area") Ditt gamla lösenord:
          %input(type="password"
                 name="old_password"
                 id="old_password"
                 ng-model="old_password"
                 required
                 ng-minlength="6"
                 ng-maxlength="36"
                 placeholder="Ditt gamla lösenord")
          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Ändra lösenord")
          %span(ng-bind-html="passwordSettings.feedBackSymbol")
          %span {{passwordSettings.message}}
      
.row.top-buffer
  .span9.offset3.box.opaque
    .padhack
      %form(name="accountTermination" ng-submit="terminateAccount()" novalidate)
        %fieldset
          %legend Avsluta medlemskap
          :markdown
            Om du vill avsluta ditt medlemskap kan du göra det genom att fylla i ditt lösenord och trycka på knappen nedan.
            Då tar vi bort ditt användarkonto och därmed all information om dig.
            **Observera att detta innebär att eventuella prenumerationsdagar/SMS försvinner.**

            Tänk på att prenumerationer avslutas automatiskt när de går ut.
            Du behöver alltså aldrig säga upp din prenumeration självmant.
            Möjligheten att avsluta ditt medlemskap finns för att du ska kunna ta bort ditt användarkonto om du önskar.
          %label(for="termination-password") Lösenord:
          %input(type="password"
                name="termination-password"
                id="termination-password"
                ng-model="terminationPassword"
                required
                ng-minlength="6"
                ng-maxlength="36"
                placeholder="Lösenord")
          %br
          %input(type="submit"
                 class="btn"
                 name="terminate-account"
                 value="Avsluta medlemskap")
          %span(ng-bind-html="accountTermination.feedBackSymbol")
          %span {{accountTermination.message}}
