<!doctype html>
%html{lang: "se", 'ng-app' => "cubancabal"}
  %head
    %meta{charset: "utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    %title HittaLyan - Förstahandskontrakt i Stockholm
    %link{href: "#{Dir['public/application-*.css'].first.split('/')[1]}", rel: "stylesheet"}
    %script{src: "#{Dir['public/application-*.js'].first.split('/')[1]}"}
  %body{'ng-controller' => "IndexController"}
    #mainnav.navbar.navbar-inverse.navbar-fixed-top.shadow
      .navbar-inner.navbar--fat
        .container.navbar-vertical-center

          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")

            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .span1
            %img(src="/images/Hittalyan_ikon2.svg")
          %a.brand(href="#!/" data-toggle="collapse" data-target=".nav-collapse.in") HittaLyan

          .nav-collapse.collapse(collapse="navBarCollapsed")
            %ul.nav
              %li(ng-hide="isLoggedIn()")
                %a(href="#!/registrera" ng-hide="isLoggedIn()" data-toggle="collapse" data-target=".nav-collapse.in") Hitta lediga lägenheter
              %li(ng-show="isLoggedIn()")
                %a(href="#!/medlemssidor" rel="nofollow" ng-show="isLoggedIn()" data-toggle="collapse" data-target=".nav-collapse.in") Hitta lediga lägenheter
              %li
                %a(href="#!/vanliga-fragor" data-toggle="collapse" data-target=".nav-collapse.in") Frågor & svar
              %li
                %a(href="#!/om" data-toggle="collapse" data-target=".nav-collapse.in") Om
              / %li
              /   %a(href="http://blogg.hittalyan.se" target="_blank") Blogg
              %li(ng-hide="isLoggedIn()")
                %a(href="#!/losenordsaterstallning" rel="nofollow" data-toggle="collapse" data-target=".nav-collapse.in"
                   ng-hide="isLoggedIn()") Glömt lösenord
              %li.hidden-large-desktop(ng-class="{'force-hide': isLoggedIn() }")
                %a(href="#!/login" data-toggle="collapse" data-target=".nav-collapse.in") Logga in
            %form#loginform.visible-large-desktop.navbar-form.pull-right(name="login"
                                                   ng-class="{'force-hide': isLoggedIn()}"
                                                   novalidate
                                                   ng-submit="submit()"
                                                   ng-controller="NavbarLoginController")
              %input.span2(type="email"
                           ng-model="email"
                           placeholder="E-post"
                           required)
              %input.span2(type="password"
                           placeholder="Lösenord"
                           ng-model="password"
                           required
                           ng-minlength="6"
                           ng-maxlength="36")
              %input.btn(type="submit"
                         value="Logga in"
                         name="login")
            %ul.nav.pull-right(ng-show="isLoggedIn()")
              %li
                %span.hittalyan-nav-text {{userName()}}
              %li
                %a(href=""
                   data-toggle="collapse" data-target=".nav-collapse.in"
                   ng-click="logout()"
                   ng-show="isLoggedIn()") Logga ut
    #wrap
      #content.container.content
        %div{'ng-view' => true}
      #footer.top-buffer.footer-shadow
        .padhack
          .row.center
            .span12.center
              .span4.footer-item
                %span.footer-text
                  HittaLyan drivs av 
                  %a(href="/#!/om") Lingonberry&nbsp;Productions
                  %p Hittalyan.se © 2012-2014
              .span2.footer-item.footer-item-vertical-center
                %a(href="https://www.payson.se" rel="nofollow" title="Payson internetbetalningar" target="_blank")
                  %img(src="images/payson150x55.png")
              .span2.footer-item.footer-item-vertical-center
                %a.footer-item(href="http://www.minacookies.se/" rel="nofollow" title="Vi använder cookies" target="_blank")
                  %img.opaque(src="images/vi_anvander_cookies_ikon_120x36.png")
              .span2.footer-item
                %span.footer-text(href="/#!/copyrights" style="text-align: left")
                  Fotot är taget av 
                  %a(href="http://www.flickr.com/photos/venteco/2918805203/" target="_blank") Olof&nbsp;S
