<!doctype html>
%html{lang: "se", 'ng-app' => "cubancabal"}
  %head
    %meta{charset: "utf-8"}
    %title HittaLyan
    %link(href="libs/bootstrap/css/bootstrap.css" rel="stylesheet")
    %link(href="css/app.css" rel="stylesheet")
    %script{src: "//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"}
    %script{src: "libs/angular-resource.min.js"}
    %script{src: "js/app.js"}
    %script{src: "js/controllers.js"}
    %script(src="http://code.jquery.com/jquery-latest.js")
    %script(src="libs/bootstrap/js/bootstrap.min.js")
  %body{'ng-controller' => "IndexController"}
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} HittaLyan
          .nav-collapse.collapse
            %ul.nav
              %li
                %a(href="#/vanliga-fragor") Vanliga frågor
              %li
                %a(href="#/om") Om
              %li(ng-hide="isLoggedIn()")
                %a(href="#/registrera" ng-hide="isLoggedIn()") Registrera
              %li(ng-show="isLoggedIn()")
                %a(href="#/medlemssidor" ng-show="isLoggedIn()") Medlemssidor
              %li(ng-show="isLoggedIn()")
                %a(ng-click="logout()" ng-show="isLoggedIn()") Logga ut
              %li(ng-hide="isLoggedIn()")
                %a(href="#/losenordsaterstallning" ng-hide="isLoggedIn()") Glömt Lösenord?

            %form#loginform.navbar-form.pull-right(name="login"
                                                   ng-hide="isLoggedIn()"
                                                   ng-submit="submit()"
                                                   novalidate
                                                   ng-controller="LoginController")
              %input.span2(type="email"
                           ng-model="email"
                           placeholder="E-post"
                           required)
              %input.span2(type="password"
                           placeholder="Lösenord"
                           ng-model="password"
                           required
                           ng-minlength="6"
                           ng-maxlength="36")
                %input(type="submit"
                       class="btn"
                       name="login"
                       value="Logga in")
          / /.nav-collapse
    .container
      %div{'ng-view' => true}
    
