<!doctype html>
%html{lang: "se", 'ng-app' => "cubancabal"}
  %head
    %meta{charset: "utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title HittaLyan - Förstahandskontrakt i Stockholm
    %link{href: "#{Dir['public/application-*.css'].first.split('/')[1]}", rel: "stylesheet"}
    %script{src: "#{Dir['public/application-*.js'].first.split('/')[1]}"}
  %body{'ng-controller' => "IndexController"}
    #wrap
      #mainnav.navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "#!/"} HittaLyan
            .nav-collapse.collapse
              %ul.nav
                %li
                  %a(href="#!/vanliga-fragor") Vanliga frågor
                %li
                  %a(href="#!/om") Om
                %li(ng-hide="isLoggedIn()")
                  %a(href="#!/registrera" ng-hide="isLoggedIn()") Kom igång
                %li(ng-show="isLoggedIn()")
                  %a(href="#!/medlemssidor" rel="nofollow" ng-show="isLoggedIn()") Medlemssidor
                %li(ng-hide="isLoggedIn()")
                  %a(href="#!/losenordsaterstallning" rel="nofollow"
                     ng-hide="isLoggedIn()") Glömt Lösenord?

              %form#loginform.navbar-form.pull-right(name="login"
                                                     ng-hide="isLoggedIn()"
                                                     ng-submit="submit()"
                                                     novalidate
                                                     ng-controller="NavbarLoginController")
                %input.span2(type="email"
                             ng-model="email"
                             placeholder="E-post"
                             required)
                %input.span2(type="password"
                             placeholder="Lösenord"
                             ng-model="password"
                             required
                             ng-minlength="6"
                             ng-maxlength="36")
                %input(type="submit"
                       class="btn"
                       name="login"
                       value="Logga in")
              %ul.nav.pull-right(ng-show="isLoggedIn()")
                %li
                  %span.hittalyan-nav-text {{userName()}}
                %li
                  %a(href=""
                     ng-click="logout()"
                     ng-show="isLoggedIn()") Logga ut
      #content.container
        %div{'ng-view' => true}
      #footer.top-buffer.dark-opaque
        .padhack
          %span.footer-item
            © Lingonberry Productions
          %a.footer-item(href="https://www.payson.se" rel="nofollow" title="Payson internetbetalningar")
            Kortbetalning på nätet
            %img(src="images/payson150x55.png")
          %a.footer-item(href="http://www.minacookies.se/" rel="nofollow" title="Vi använder cookies")
            %img.opaque(src="images/vi_anvander_cookies_ikon_120x36.png")
          