.row
  .span3
    #member-nav
      %ul.nav.nav-stacked.nav-pills
        %li.box.opaque.member-nav-side.member-nav-top
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li.box.opaque.member-nav-side
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li.box.opaque.member-nav-side
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
        %li.box.opaque.member-nav-side
          %a{href: "#!/medlemssidor/kampanjer"} Kampanjer
    #member-info-box
      .box
        .alert(ng-show="showUserInactiveMessage")
          Du har ingen aktiv prenumeration.
          %a(href="#!/medlemssidor/prenumeration") Förläng din prenumeration
        .alert.alert-info(ng-show="userData.active")
          Din prenumeration gäller fram till och med {{oneDayBefore(userData.premium_until) | date: 'yyyy-MM-dd'}}.
          %div(ng-show="userData.sms_until && smsActiveState")
            SMS är aktiverat fram till och med {{oneDayBefore(userData.sms_until) | date: 'yyyy-MM-dd'}}.

  .span9.mobile-titles
    .row
      .span6
        .padhack
          :markdown
            ## Kampanjer
            Känner du någon som du tror skulle behöva HittaLyans tjänst för att hitta bostad? Här nedan hittar du flera alternativ för att berätta om HittaLyan för vänner och bekanta.
    .row.bottom-buffer-kampanjer
      .span4
        .padhack
          %h4.top-buffer-text Tipsa kompis om HittaLyan och få gratisdagar
          :markdown
            Be dina kompisar ange din e-postadress när de blir medlemmar på HittaLyan och när de köpt en prenumeration får du 10 extra dagar gratis att använda HittaLyan för varje ny prenumerant du värvar.
      .span4
        .padhack
          %h4.top-buffer-text Skapa rabattkod och skicka till dina vänner och bekanta
          :markdown
            Skapa en rabattkod som kan du skicka till dina vänner och bekanta. Rabattkoden ger dem 25% procent rabatt på deras första 30 dagars prenumeration på HittaLyan.
