.hero-unit.opaque
  :markdown
    # Du saknar år i bostadskön och vill ha ett förstahandskontrakt i Stockholm. 
    ## Det måste inte vara så svårt som det låter.
    
    Många lägenheter förmedlas på andra sätt än genom en bostadskö. 
    De annonseras ofta ut under mycket kort tid. Ibland ligger de bara ute någon minut.
    Vi håller koll på alla större privata hyresvärdar åt dig och 
    **när en intressant lägenhet dyker upp får du veta det. Direkt.**
    
  %a.btn.btn-primary.btn-large(href="#!/registrera" ) Bli medlem »

.row
  .span4.box.opaque.markety-box
    .padhack
      :markdown
        ## E-post eller SMS
        _Samma minut_ som en lägenhet annonseras ut skickar vi ett 
        e-postmeddelande eller SMS till dig.
  .span4.box.opaque.markety-box
    .padhack
      :markdown
        ## Hyra, antal rum, yta...
        Välj enkelt vad du vill betala i hyra och 
        hur stor lägenhet du vill ha. 
        På så vis får du alltid lägenhetstips som passar dig.
  .span4.box.opaque.markety-box
    .padhack
      :markdown
        ## Vad kostar det?
        Du kan registrera dig och kolla runt på våra medlemssidor i lugn och ro 
        för att få en bättre bild av hur tjänsten fungerar.
        Om du sedan vill aktivera utskick av lägenhetstips kostar det 300 kronor 
        för en månad.
      %p
        %a.btn(href="#!/registrera") Bli medlem »
