.hero-unit.opaque
  :markdown
    # Du saknar år i bostadskön och vill ha ett förstahandskontrakt i Stockholm. 
  %img.trial-sticker(alt="7 dagar gratis" src="/images/free_trial_sticker.png")
  :markdown
    ## Det måste inte vara så svårt som det låter.
    Många lägenheter förmedlas på andra sätt än genom en bostadskö.
    De annonseras ofta ut under mycket kort tid. Ibland ligger de bara ute någon minut. 
    Vi håller koll på alla större privata hyresvärdar åt dig och 
    **när en intressant lägenhet dyker upp får du veta det. Direkt.** 
  %a.btn.btn-primary.btn-xlarge(href="#!/registrera") Kom igång direkt »
.row
  .span10.offset1.box.opaque.markety-box
    .padhack
      %h2.text-center Hur fungerar det?
      :markdown
          1. **En hyresvärd publicerar en lägenhet på sin hemsida.**
             Lägenheten förmedlas inte genom en bostadskö. 
             Istället väljer hyresvärden bland de som varit snabba att skicka in en intresseanmälan. 
          2. **HittaLyan hittar lägenheten**. Direkt efter att lägenheten publicerats tipsar vi dig. 
          3. **Du får tipset som ett SMS eller e-postmeddelande och kan anmäla ditt intresse.** 
.row.top-buffer
  #never-miss-an-apartment.span4.box.opaque.markety-box
    .padhack
      :markdown
        ## Missa aldrig en lägenhet
        Vi letar efter lägenheter på hyresvärdarnas hemsidor varje minut, dygnet runt, så att du slipper. 
        Att leta lägenhet ska inte behöva vara en heltidssyssla. 
  #only-apartments-of-interest.span4.box.opaque.markety-box
    .padhack
      :markdown
        ## Bara lägenheter som passar dig
        Med vårt intressefilter ställer du enkelt in hur stor lägenhet du vill ha och hur mycket du är villig att betala i hyra. 
        Du slipper kolla igenom annonser för hyresobjekt som du inte är intresserad av. 
  #best-chance.span4.box.opaque.markety-box
    .padhack
      :markdown
        ## Maximera dina chanser
        _Samma minut_ som en lägenhet annonseras ut skickar vi ett e-postmeddelande eller SMS till dig. 
        Försprånget du får gör att du alltid kan vara en av de första som skickar in en intresseanmälan. 
.row.top-buffer
  .span10.offset1.box.opaque.markety-box
    .padhack
      %h2.text-center
        Så kommer du igång
      :markdown
        Vi bjuder på 7 dagars prenumeration på lägenhetstips.
        Om du vill fortsätta att använda dig av HittaLyan loggar du in och köper en prenumeration på **30 dagar för 279 kronor**.
        Har du inte hittat en lägenhet efter det kan du **förlänga din prenumeration för halva priset**.
      .text-center
        %a.btn.btn-primary.btn-xlarge(href="#!/registrera") Kom&nbsp;igång&nbsp;direkt (7&nbsp;dagar&nbsp;gratis)&nbsp;»
