.row.cover-image.cover-image--landing
  .span9.hero-unit.hero-unit--center.text-center
    %h1 Du saknar år i bostadskön och vill ha ett förstahandskontrakt i Stockholm.
    %p.top-buffer-herounit.bottom-buffer Många lägenheter förmedlas utanför bostadskön. Så fort en lägenhet blir ledig skickar vi e-post eller SMS till dig. Endast 298 kr för 30 dagar.
    %a.btn.btn-warning.btn-xlarge.text-center(href="#!/registrera") Kom igång direkt »
.row
  .span6.top-buffer.center
    .padhack
      %div.markety-box
        %h3 Hur fungerar det?
        :markdown
          Många hyresvärdar i Stockholm erbjuder först till kvarn/bostad direkt-lägenheter. Är du bland de första som anmäler intresse har du chans att få ett förstahandskontrakt på lägenheten. Problemet är såklart att du har annat att göra än att surfa på hyresvärdarnas hemsidor hela dagarna.
          
          HittaLyan skannar automatiskt av hyresvärdarnas hemsidor åt dig. Så fort en lägenhet blir tillgänglig får du SMS och mejl med all information du behöver för att skicka in en intresseanmälan.
  .span6.top-buffer.center
    .padhack
      %img(src="/images/drawing2.svg")
  .span6.top-buffer.center
    %div.markety-box
      .padhack
        %h3 Fördelarna med att använda HittaLyan
        %p Du kan vara en av de första att anmäla intresse på varje först till kvarn-lägenhet i Stockholm.
        %p Vi letar efter lägenheter på hyresvärdarnas hemsidor varje minut, dygnet runt, så att du slipper. Att leta lägenhet ska inte behöva vara en heltidssyssla.
  
  .span6.top-buffer.center
    .padhack
      %img(src="/images/drawing.svg")

  .span6.top-buffer.center
    %div.markety-box
      .padhack
        %h3 Hur kan jag börja använda HittaLyan?
        :markdown
          Tryck på _Kom igång direkt_. Tjänsten kostar 298 kr för 30 dagar. Om du inte hittat en lägenhet efter denna tid halverar vi priset så att du bara betalar 149 kr för 30 dagar till. Vi har ingen uppsägningstid utan tjänsten avslutas när du väljer att avsluta den. Givetvis har du kvar resterande dagar av prenumeration som du redan betalat för.
  .span6.top-buffer.center.text-center
    .padhack
      %a.btn.btn-warning.btn-xlarge.text-center(href="#!/registrera") Kom igång direkt »
  .span6.top-buffer.center
    .padhack
      %img(src="/images/drawing3.svg")
