%div.landingpage__image
  %div.row.background-image-top-margin
    %div.hero-unit.opaque.span9.top-buffer.center.text-center
      %h1 Du saknar år i bostadskön och vill ha ett förstahandskontrakt i Stockholm.
      %p.top-buffer-herounit Många lägenheter förmedlas utanför bostadskön. Så fort en lägenhet blir ledig skickar vi e-post eller SMS till dig. Endast 298 kr för 30 dagar.
      %a.btn.btn-primary.btn-xlarge.text-center(href="#!/registrera") Kom igång direkt »

  %script
    $(".landingpage__image").backstretch("images/gamla_stan_cc_attribution_cropped.jpg");

.hero-unit

  %div.row
    %div.span6.top-buffer.center
      %h3 Hur fungerar det?
      %p Flertalet hyresvärdar erbjuder förstahandskontrakt i Stockholm genom att lägga upp bostäder på sina hemsidor där den som är först till kvarn att anmäla sig till dessa bostäder har störst chans att få kontrakt.
      %p Problemet är att du inte har tid att bevaka hyresvärdarnas hemsidor efter nya lägenheter hela tiden för att kunna vara bland de första som anmäler sig.
      %p Hittalyan hjälper dig att hålla koll på när nya bostäder läggs upp av dessa hyresvärdar så att du ökar din chans att få ett förstahandskontrakt. Genom att använda vår tjänst får du sms och mejl så fort en först-till-kvarn lägenhet annonseras.
  %div.offset5.top-buffer
    %img(src="/images/drawing2.svg")

  %div.row
    %div.span6.top-buffer.center
      %h3 Fördelarna med att använda HittaLyan?
      %p Samma minut som en lägenhet annonseras ut skickar vi ett e-postmeddelande eller SMS till dig. Försprånget du får gör att du alltid kan vara en av de första som skickar in en intresseanmälan.
      %p Vi letar efter lägenheter på hyresvärdarnas hemsidor varje minut, dygnet runt, så att du slipper. Att leta lägenhet ska inte behöva vara en heltidssyssla.
  %div.offset6.top-buffer
    %img(src="/images/drawing.svg")


  %div.row
    %div.span6.top-buffer.center
      %h3 Hur kan jag börja använda HittaLyan?
      %p Tryck på Kom igång direkt och fyll i uppgifterna. Tjänsten kostar 298 kr första månaden och endast 149 kr för varje nästföljande månad. Vi har ingen uppsägningstid utan tjänsten avslutas när du väljer att avsluta den. Givetvis har du kvar resterande dagar av prenumeration som du redan betalat för. (kommentar: vi kanske skriver EFTER de köpt tjänsten att de manuellt måste gå in på sidan för att avsluta prenumerationen annars fortlöper den automatisk.)
  %div.span6.top-buffer.center.text-center
    %a.btn.btn-primary.btn-xlarge.text-center(href="#!/registrera") Kom igång direkt »

  %div.offset5.top-buffer
    %img(src="/images/drawing3.svg")
