.row.cover-image.cover-image--landing
  .span9.hero-unit.hero-unit--center.text-center.shadow
    %h1 Du saknar år i bostadskön och vill ha ett förstahandskontrakt i Stockholm.
    .top-buffer-small
      :markdown
        Många lägenheter förmedlas utanför bostadskön.
        HittaLyan bevakar utbudet av först till kvarn-lägenheter i Stockholmsområdet. Så fort en lägenhet blir ledig skickar vi ett mejl eller SMS till dig. **Endast 298 kr för 30 dagar**.
      %a.btn.btn-warning.btn-xlarge.text-center(href="#!/registrera") Kom igång direkt »
.row
  .span7.top-buffer.center
    .padhack
      %div.markety-box
        %h3.text-center Vad gör HittaLyan?
        :markdown
          HittaLyan hjälper dig att hitta förstahandskontrakt på hyreslägenheter i eller i närheten av Stockholm. Många hyresvärdar annonserar ut så kallade **först till kvarn/bostad direkt-lägenheter** på sina hemsidor. Är du bland de första som anmäler intresse för en sådan lägenhet kan du få skriva kontrakt på den, oavsett hur många dagar du har i bostadskön. Problemet är såklart att du har annat att göra än att surfa på hyresvärdarnas hemsidor hela dagarna.
          
          HittaLyan **bevakar hyresvärdarnas hemsidor åt dig**. Så fort en lägenhet blir tillgänglig får du SMS och mejl med all information du behöver för att skicka in en intresseanmälan.
  .span6.top-buffer.center.img-polaroid
    .padhack
      %img(src="/images/man-lying-on-bed-at-home.jpg")
  .span7.top-buffer.center
    .padhack
      %div.markety-box
        %h3.text-center Hur det fungerar – steg för steg
        .row-fluid
          .span1.offset1.bottom-buffer.mobile-icons
            %i.step1-image.icon-building.icon-4x 
          .span10
            %p.step-text
              En hyresvärd annonserar ut en lägenhet på sin hemsida. 
              Hyreskontraktet erbjuds till någon av de första som skickar in en intresseanmälan.
        .row-fluid
          .span1.offset1.bottom-buffer.mobile-icons
            %i.step2-image.icon-envelope.icon-4x
          .span10
            %p.step-text
              HittaLyan hittar lägenheten och skickar ett mejl eller SMS till dig.
        .row-fluid
          .span1.offset1.bottom-buffer.mobile-icons
            %i.step3-image.icon-user.icon-4x 
          .span10
            %p.step-text
              Nu är det upp till dig att skicka in en intresseanmälan till hyresvärden.
              Oftast gäller det att vara snabb så det är tur att HittaLyan ger dig ett försprång.
        .row-fluid
          .span1.offset1.bottom-buffer.mobile-icons
            %i.step4-image.icon-edit.icon-4x 
          .span10
            %p.step-text
              Om allt går väl leder din intresseanmälan till att du får skriva kontrakt på lägenheten!
            :markdown
              [Mer information och svar på vanliga frågor](/#!/vanliga-fragor)
  .span6.top-buffer.center.img-polaroid
    .padhack
      %img(src="/images/girl_in_kitchen.jpg")
      // Den bilden vi egentligen kan använda om. http://i.istockimg.com/file_thumbview_approve/16208369/2/stock-photo-16208369-young-couple-sitting-with-boxes-holding-key-in-hand.jpg
  .span7.top-buffer.center
    %div.markety-box
      .padhack
        %h3.text-center Fördelarna med att använda HittaLyan
        %p Du kan vara en av de första att anmäla intresse på varje först till kvarn-lägenhet i Stockholm.
        %p Vi letar efter lägenheter på hyresvärdarnas hemsidor varje minut, dygnet runt, så att du slipper. Att leta lägenhet ska inte behöva vara en heltidssyssla.
  .span6.top-buffer.center.img-polaroid
    .padhack
      %img(src="/images/inflyttningsfest.jpg")
  .span7.top-buffer.center
    %div.markety-box
      .padhack
        %h3.text-center Hur kommer jag igång?
        :markdown
          Tryck på [Kom igång direkt](/#!/registrera). 30 dagars prenumeration kostar **endast 298 kr**. Vi har ingen uppsägningstid utan prenumerationen avslutas när dina 30 dagar är slut. Om du inte hittat en lägenhet efter denna tid kan du köpa 30 dagar till för **halva priset (149 kr)**. 
  .span7.center.text-center.bottom-buffer
    .padhack
      %a.btn.btn-warning.btn-xlarge.text-center(href="#!/registrera") Kom igång direkt »
.row
  .span7.center
    .padhack
      %div.text-center.bottom-buffer-large
        %h4 Hyresvärdar som HittaLyan bevakar
        %p Bostadsformedling i Stockholm &bull; Akelius Lägenheter &bull; Hässelby Hem &bull; Upplands-Brohus &bull; Sollentuna Hem &bull; Ikano Bostad &bull; Wåhlin Fastigheter &bull; Haninge Bostäder &bull; Väsby Hem &bull; Tyresö Bostäder &bull; Sigtuna Hem &bull; Wallenstam &bull; Stena Fastigheter &bull; Heba &bull; Signalisten
