.hero-unit.opaque
  :markdown
    # Du saknar år i bostadskön och vill ha ett förstahandskontrakt i Stockholm. 
  %img.trial-sticker(alt="7 dagar gratis" src="/images/free_trial_sticker.png")
  :markdown
    ## Många lägenheter förmedlas utanför bostadskön. Så fort en lägenhet blir ledig skickar vi e&#8209;post eller SMS till dig.
  %a.btn.btn-primary.btn-xlarge(href="#!/registrera") Kom igång direkt »
.row
  .span10.offset1.box.opaque.markety-box
    .padhack
      %h2.text-center Hur fungerar det?
      .row-fluid
        .span1.offset1
          %i#step1-image.icon-building.icon-4x 
        .span8
          %p#step1-text
            En hyresvärd publicerar en lägenhet på sin hemsida. 
            Hyreskontraktet erbjuds till någon av dem som snabbt skickar in en intresseanmälan.
      .row-fluid
        .span1.offset1
          %i#step2-image.icon-envelope.icon-4x.envelope-image
        .span8
          %p#step2-text
            HittaLyan hittar lägenheten och skickar ett mejl eller SMS till dig.
.row.top-buffer
  #best-chance.span4.box.opaque.markety-box.markety-equal-height
    .padhack
      .markety-icon
        %i.icon-notanicon 1
      %h2 Bli först
      :markdown
        _Samma minut_ som en lägenhet annonseras ut skickar vi ett e-postmeddelande eller SMS till dig. 
        Försprånget du får gör att du alltid kan vara en av de första som skickar in en intresseanmälan. 
  #never-miss-an-apartment.span4.box.opaque.markety-box.markety-equal-height
    .padhack
      .markety-icon
        %i.icon-time
      %h2 Låt oss leta istället
      :markdown
        Vi letar efter lägenheter på hyresvärdarnas hemsidor varje minut, dygnet runt, så att du slipper. 
        Att leta lägenhet ska inte behöva vara en heltidssyssla. 
  #only-apartments-of-interest.span4.box.opaque.markety-box.markety-equal-height
    .padhack
      .markety-icon
        %i.icon-filter
      %h2 Filtrera
      :markdown
        Med vårt intressefilter ställer du enkelt in hur stor lägenhet du vill ha och hur mycket du är villig att betala i hyra. 
        Du kollar bara igenom annonser för hyresobjekt som du är intresserad av. 
.row.top-buffer
  .span10.offset1.box.opaque.markety-box
    .padhack
      %h2.text-center
        Så kommer du igång
      :markdown
        Vi bjuder på 7 dagars prenumeration på lägenhetstips.
        Om du vill fortsätta att använda dig av HittaLyan loggar du in och köper en prenumeration på **30 dagar för 279 kronor**.
        Har du inte hittat en lägenhet efter det kan du **förlänga din prenumeration för halva priset**.
      .text-center
        %a.btn.btn-primary.btn-xlarge(href="#!/registrera") Kom&nbsp;igång&nbsp;direkt (7&nbsp;dagar&nbsp;gratis)&nbsp;»
