%form{name: "login", 'ng-submit' => "submit()"}
  %fieldset
    %legend Logga in här
    %label{for: "email"} Din e-postadress:
    %input{type: "text",
           name: "email",
           id: "email",
           'ng-model' => "email",
           required: true}
    
    %label{for: "password"} Lösenord:
    %input{type: "password",
           name: "password",
           id: "password",
           'ng-model' => "password",
           required: true}
    
    %input{type: "submit", name: "login", value: "Down the rabbit hole"}