.row
  .span8.offset2.box.opaque
    .padhack
      %form.form-horizontal(name="login" ng-submit="submit()" novalidate)
        %fieldset
          %legend Logga in
          .control-group.control-group-compact
            %label.control-label(for="email") 
              %strong Din e-postadress:
            .controls
              %input.control-buffer(type="email"
                     name="email"
                     placeholder="E-postadress"
                     id="email"
                     ng-model="email"
                     required)
              %span(ng-show="login.email.$valid") 
                %i.icon-ok.checkmark.okness.icon-large
              %span.tablet-block(ng-class="{'visibility-hidden': !(login.email.$error.email)}")
                Ogiltig&nbsp;e-postadress.
          .control-group.control-group-compact
            %label.control-label(for="password") 
              %strong Lösenord:
            .controls
              %input.control-buffer(type="password"
                     name="password"
                     placeholder="Lösenord"
                     id="password"
                     ng-model="password"
                     required
                     ng-minlength="6"
                     ng-maxlength="36")
              %span(ng-show="login.password.$valid") 
                %i.icon-ok.checkmark.okness.icon-large
              %span.tablet-block(ng-class="{'visibility-hidden': !(login.password.$error.minlength)}")
                Lösenordet&nbsp;är&nbsp;för&nbsp;kort.
          .control-group.control-group-compact
            .controls
              %input.btn.control-buffer(type="submit"
                         name="login"
                         value="Logga in")
              %span.tablet-block
                %span(ng-show="working")
                %span(ng-bind-html="feedBackSymbol")
                %span {{message}}
                %a(href="#!/losenordsaterstallning" rel="nofollow") Glömt lösenordet?

