.row
  .span8.offset2.box.opaque
    .padhack
      %form.form-horizontal(name="login" ng-submit="submit()" novalidate)
        %fieldset
          %legend Logga in
          .control-group
            %label.control-label(for="email") 
              %strong Din e-postadress:
            .controls
              %input.control-buffer(type="email"
                     name="email"
                     placeholder="E-postadress"
                     id="email"
                     ng-model="email"
                     required)
              %span(ng-show="login.email.$error.email") Ogiltig&nbsp;e-postadress.
          .control-group
            %label.control-label(for="password") 
              %strong Lösenord:
            .controls
              %input.control-buffer(type="password"
                     name="password"
                     placeholder="Lösenord"
                     id="password"
                     ng-model="password"
                     required
                     ng-minlength="6"
                     ng-maxlength="36")
              %span(ng-show="login.password.$error.minlength") Lösenordet&nbsp;är&nbsp;för&nbsp;kort.
              %span(ng-show="login.password.$error.maxlength") Lösenordet&nbsp;är&nbsp;för&nbsp;långt.
          .control-group
            .controls
              %input.btn(type="submit"
                         name="login"
                         value="Logga in")
              %span(ng-show="working")
              %span(ng-bind-html="feedBackSymbol")
              %span {{message}}
