.row
  .span12.box.opaque
    .padhack
      %h1 Medlemssidor
.row.top-buffer
  .span2.box.opaque
    .padhack  
      %ul.nav.nav-list.vertical-nav-box
        %li
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#!/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
  .span10.box.opaque
    .padhack
      :markdown
        Välkommen till dina medlemssidor
        ---------------------------------

        Via menyn till vänster kan du se lägenheter som hittats.
        Du kan även ändra inställningar för lägenhetsutskick, meddelandesätt och så vidare. 
        Tanken är att allt detta ska göra att du får en bra bild av hur det hela fungerar.
        När du bestämmer dig för att uppgradera ditt medlemskap genom att köpa ett premiumpaket vet du redan vad du betalar för.

        För att börja prenumerera på lägenhetsutskick går du in [här](/#!/medlemssidor/prenumeration) 
        (eller via länken Prenumeration i menyn till vänster).

        Så, ta dig lite tid och kolla runt. Läs gärna igenom [vanliga frågor](/#!/vanliga-fragor) 
        och om det är något ytterligare du undrar kan du alltid [ställa en fråga](/#!/om).
