.row
  .span12.box.opaque
    .padhack
      %h1 Medlemssidor
.row.top-buffer
  .span2.box.opaque
    .padhack  
      %ul.nav.nav-list.vertical-nav-box
        %li
          %a{href: "#/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#/medlemssidor/losenord"} Ändra lösenord
        %li
          %a{href: "#/medlemssidor/premiumtjanster"} Premiumtjänster
  .span10.box.opaque
    .padhack
      :markdown
        Välkommen till dina medlemssidor.
        Via menyn till vänster kan du ändra inställningar för lägenhetsutskick eller köpa ett premiumkonto för att få flera dagar eller SMS.
        