.row
  .span12.box.opaque
    .padhack
      %span(id="links")
        %a(href="#/medlemssidor/lagenheter") Lägenheter
        |
        %a(href="#/medlemssidor/installningar") Inställningar
        %hr
      %h1 Medlemssidor
      %h2 Vath too do?
      %ul
        %li
          %a{href: "#/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#/medlemssidor/losenord"} Ändra lösenord
        %li
          %a{href: "#/medlemssidor/premiumtjanster"} Premiumtjänster
