.row
  .span12.box.opaque
    .padhack
      %h1 Medlemssidor
.row.top-buffer
  .span2.box.opaque
    .padhack  
      %ul.nav.nav-list.vertical-nav-box
        %li
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#!/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#!/medlemssidor/premiumtjanster"} Premiumtjänster
  .span10.box.opaque
    .padhack
      :markdown
        Välkommen till dina medlemssidor
        ---------------------------------

        Via menyn till vänster kan du se lägenheter som hittats _fram tills då du blev medlem_.
        Det du ser är alltså en ögonblicksbild av vilka lägenheter vi hittat veckan fram till att du registrerade dig 
        (med ett premiumkonto ser du däremot såklart alltid det senaste).

        Du kan även ändra inställningar för lägenhetsutskick, meddelandesätt och så vidare. 
        Tanken är att allt deta ska göra att du får en bra bild av hur det hela fungerar.
        När du bestämmer dig för att uppgradera ditt medlemskap genom att köpa ett premiumpaket vet du redan vad du betalar för.

        Tillgängliga premiumpaket ser du [här](/#!/medlemssidor/premiumtjanster) (eller via länken Premiumtjänster i menyn till vänster).
        När du köpt ett premiumpaket kan du även få e-post eller SMS direkt när en lägenhet som du är intresserad av dyker upp.

        Så, ta dig lite tid och kolla runt. Läs gärna igenom [vanliga frågor](/#!/vanliga-fragor) 
        och om det är något ytterligare du undrar kan du alltid [ställa en fråga](/#!/om).



        