.row
  .span12.box.opaque
    .padhack
    	%h1 Medlemssidor
    	%h2 Vath too do?
    	%ul
    		%li
    			%a{href: "#/medlemssidor/filtersettings"} Filter Settings
    		%li
    			%a{href: "#/medlemssidor/apartments"} Apartments
    		%li
    			%a{href: "#/medlemssidor/losenord"} Ändra lösenord