.row
  .span12.box.opaque
    .padhack
      %h1 Om oss
      :markdown
        HittaLyan är en tjänst som hjälper dig att hitta en hyreslägenhet i Stockholm.
        Detta gör vi genom att hålla koll på när hyresvärdar lägger upp nya lägenheter 
        och tipsa dig som är medlem. 
        Vi som står bakom tjänsten är ett företag som heter Lingonberry Productions.
      %form#contact-form.form-horizontal(name="contact" ng-submit="submit()")
        %fieldset
          %legend Kontakta oss
          .alert.alert-success(ng-show="messageSent")
            Ditt meddelande har skickats.
          .control-group
            %label.control-label(for="email")
              %strong Din e-postadress:
            .controls
              %input(ng-model="email" id="email" type="text" placeholder="Din e-postadress" required)
          .control-group
            %label.control-label(for="message")
              %strong Fråga/meddelande:
            .controls
              %textarea.large-textarea(ng-model="message" 
                                       id="message" 
                                       rows="10" 
                                       placeholder="Skriv ditt meddelande här" 
                                       required)
          .control-group
            .controls
              %input(type="submit" class="btn" value="Skicka")
