.row
  .span12.box.opaque
    .padhack
      %form(name="passwordresetconfirmation" ng-submit="submit()" novalidate)
        %fieldset
          %legend Ändra Lösenord
          %label(for="new_password") Nytt lösenord:
          %input(type="password"
                  name="new_password"
                  placeholder="Nytt lösenord"
                  id="new_password"
                  ng-model="new_password"
                  required
                  ng-minlength="6"
                  ng-maxlength="36")
          %label(for="repeat_password") Upprepa nytt lösenord:
          %input(type="password"
                  name="repeat_password"
                  placeholder="Upprepa lösenord"
                  id="repeat_password"
                  ng-model="repeat_password"
                  required
                  ng-minlength="6"
                  ng-maxlength="36")
          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Spara")
