%form(name="passwordreset" ng-submit="submit()" novalidate)
  %fieldset
    %legend Lösenordsåtertällning
    %label(for="email") Din e-postadress:
    %input(type="email"
           name="email"
           id="email"
           ng-model="email"
           required)
    %span(ng-show="signup.email.$invalid && signup.email.$dirty") Invalid email
    %input(type="submit"
           class="btn"
           name="signup"
           value="Down the rabbit hole")
%p
  Du kommer att få ett mail med en länk som du måste klicka för att bekräfta lösenordsåterställningen.<br/>
  Du kommer att då få ett nytt mail med ditt nya lösenord som du kan använda för att logga in med.<br>
  Du kommer att kunna ändra löenordet till något bättre via Medlemssidan.<br/>
  Du kommer att ge mig alla dina pengar.<br/>