%form(name="passwordreset" ng-submit="submit()" novalidate)
  %fieldset
    %legend Lösenordsåterställning
    %label(for="email") Din e-postadress:
    %input(type="email"
           name="email"
           placeholder="E-postadress"
           id="email"
           ng-model="email"
           required)
    %span(ng-show="signup.email.$invalid && signup.email.$dirty") Ogiltig e-postadress
    %input(type="submit"
           class="btn"
           name="signup"
           value="Återställ lösenordet")
%p
  :markdown
    Ett e-postmeddelande med en bekräftelselänk skickas inom kort till angiven e-postadress.
