.row
  .span8.offset2
    .padhack
      %form(name="passwordreset" ng-submit="submit()" novalidate)
        %legend Lösenordsåterställning
        %fieldset
          .alert.alert-success(ng-show="mailSent")
            Ett e-postmeddelande med instruktioner har skickats!
          :markdown
            Har du glömt ditt lösenord?
            Fyll i din e-postadress nedan så skickar vi instruktioner om hur du sätter ett nytt lösenord.
          .form-horizontal
            %label(for="email")
              %strong Din e-postadress:
            %input(type="email"
                   name="email"
                   placeholder="E-postadress"
                   id="email"
                   ng-model="email"
                   required)
            %span(ng-show="signup.email.$invalid && signup.email.$dirty") Ogiltig e-postadress
            %input(type="submit"
                   class="btn"
                   name="signup"
                   value="Återställ mitt lösenord")
