.row
  .span12.box.opaque
    .padhack
      %h1 Medlemssidor
.row.top-buffer
  .span2.box.opaque
    .padhack  
      %ul.nav.nav-list.vertical-nav-box
        %li
          %a{href: "#/medlemssidor"} Medlemssidor
        %li
          %a{href: "#/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#/medlemssidor/premiumtjanster"} Premiumtjänster
  .span10.box.opaque
    .padhack
      %div.alert.alert-info(ng-show="userData.premium_until")
        Ditt premiumpaket gäller fram till {{userData.premium_until | date: 'yyyy-MM-dd HH:mm:ss'}} och du har {{userData.sms_account}} SMS kvar.
      %h2 Paket som du kan köpa
      %p Betala direkt med Payson. Payson samarbetar med Visa/Mastercard och internetbankerna Swedbank, Handelsbanken, SEB och Nordea.
      %p Moms ingår i alla priser. Inga extra avgifter tillkommer.
      %hr
      %table#packages.top-buffer
        %tr
          %td
          %td Beskrivning
          %td Pris         
        %tr
          %td
            %img(src="images/shopping_bag.png")
          %td {{packages.STANDARD.description}}
          %td {{packages.STANDARD.unit_price_in_ore/100}} kr
          %td
            %a(href="" rel="nofollow" ng-click="buyPackage('STANDARD')")
              %img(src="images/payson_betala_btn.png")            

      %form(name="nameForm" ng-submit="submitNameInfo()" ng-show="showForm" novalidate)
        %fieldset
          %span Betalningstjänsten kräver ditt för- och efternamn.
          %label(for="first-name") Förnamn:
          %input(type="text"
                name="first-name"
                placeholder="Förnamn"
                id="first-name"
                ng-model="userData.first_name"
                required)
          %label(for="lastname") Efternamn:
          %input(type="text"
                name="last-name"
                placeholder="Efternamn"
                id="last-name"
                ng-model="userData.last_name"
                required)
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Gå vidare")
