.row
  .span12.box.opaque
    .padhack
      %span(id="links")
        %a(href="#/medlemssidor") Medlemssidor
        |
        %a(href="#/medlemssidor/lagenheter") Lägenheter
        %hr
      %span Dagar kvar: {{daysLeft}} SMS kvar: {{smsLeft}}
      %hr

      %table
        %tr
          %td image: {{image}}
          %td {{packages.STANDARD.description}}
          %td
            %button(type="button" class="btn" ng-click="buyPackage('STANDARD')") Köp

      %form(name="nameForm" ng-submit="submitNameInfo()" ng-show="showForm" novalidate)
        %fieldset
          %span Betalningstjänsten kräver ditt för- och efternamn.
          %label(for="first-name") Förnamn:
          %input(type="text"
                name="first-name"
                placeholder="Förnamn"
                id="first-name"
                ng-model="firstName"
                required)
          %label(for="lastname") Efternamn:
          %input(type="text"
                name="last-name"
                placeholder="Efternamn"
                id="last-name"
                ng-model="lastName"
                required)
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Gå vidare")
