.row
  .span3.bottom-buffer
    #member-nav
      %ul.nav.nav-stacked.nav-pills
        %li.box.opaque
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li.box.opaque
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li.box.opaque
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
    #member-info-box
      .box.opaque
        %div.alert.alert-info(ng-show="userData.premium_until")
          Din prenumeration gäller fram till {{userData.premium_until | date: 'yyyy-MM-dd'}}.
          %div(ng-show="userData.sms_until")
            SMS är aktiverat fram till {{userData.sms_until | date: 'yyyy-MM-dd'}}.
  .span9.box.opaque
    .padhack
      %div.alert.alert-info(ng-show="userData.premium_until")
        Din prenumeration gäller fram till {{userData.premium_until | date: 'yyyy-MM-dd'}}.
        %div(ng-show="userData.sms_until")
          SMS är aktiverat fram till {{userData.sms_until | date: 'yyyy-MM-dd'}}.
      %h2 Paket som du kan köpa
      %p Betala direkt med Payson. Payson samarbetar med Visa/Mastercard och internetbankerna Swedbank, Handelsbanken, SEB och Nordea.
      %p Moms ingår i alla priser. Inga extra avgifter tillkommer.
      %hr

      .row-fluid.package-row.bottom-buffer(ng-repeat="package in packages")
        .span3
          %img.package-image(ng-src="{{imageURL(package.sku)}}")
        .span4
          %em {{package.description}}
        .span2
          %strong {{couponifyPrice(package, coupon)}} kr
        .span3
          %a(href="" rel="nofollow" ng-click="buyPackage(package.sku)")
            %img(src="images/payson_betala_btn.png")

      %form(name="nameForm" ng-submit="submitNameInfo()" ng-show="showForm" novalidate)
        %fieldset
          %span Betalningstjänsten kräver ditt för- och efternamn.
          %label(for="first-name") Förnamn:
          %input(type="text"
                name="first-name"
                placeholder="Förnamn"
                id="first-name"
                ng-model="userData.first_name"
                required)
          %label(for="lastname") Efternamn:
          %input(type="text"
                name="last-name"
                placeholder="Efternamn"
                id="last-name"
                ng-model="userData.last_name"
                required)
          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Gå vidare")
      %p(ng-hide="showCouponForm")
        %button(type="button" class="btn" ng-click="toggleCouponForm()") Klicka här om du har en rabattkod
      %form.form-horizontal(ng-show="showCouponForm" name="couponForm" ng-submit="submitCoupon()" novalidate)
        %fieldset
          %legend Rabattkod
          %label(for="coupon-code")
          %input(type="text"
                 name="coupon-code"
                 id="coupon-code"
                 ng-model="couponCode"
                 placeholder="Din rabattkod här")
          %input(type="submit"
                 class="btn"
                 name="code-submit"
                 value="Applicera")
      %p(ng-show="showCouponInfo" id="coupon-description")
        Beskrivning: {{coupon.description}}. Rabatt: {{coupon.discount_in_percentage_units}}%        
