.row
  .span12.box.opaque
    .padhack
      %h1 Medlemssidor
.row.top-buffer
  .span2.box.opaque
    .padhack  
      %ul.nav.nav-list.vertical-nav-box
        %li
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li
          %a{href: "#!/medlemssidor/lagenheter"} Lägenheter
        %li
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
  .span10.box.opaque
    .padhack
      %div.alert.alert-info(ng-show="userData.premium_until")
        Din prenumeration gäller fram till {{userData.premium_until | date: 'yyyy-MM-dd HH:mm:ss'}} och du har {{userData.sms_account}} SMS kvar.
      %h2 Paket som du kan köpa
      %p Betala direkt med Payson. Payson samarbetar med Visa/Mastercard och internetbankerna Swedbank, Handelsbanken, SEB och Nordea.
      %p Moms ingår i alla priser. Inga extra avgifter tillkommer.
      %hr
      %table#packages.top-buffer
        %tr(ng-repeat="package in packages")
          %td
            %img.illustration(ng-src="{{imageURL(package.sku)}}")
          %td.description {{package.description}}
          %td.price {{couponifyPrice(package, coupon)}} kr
          %td.buy
            %a(href="" rel="nofollow" ng-click="buyPackage(package.sku)")
              %img(src="images/payson_betala_btn.png")

      %form(name="nameForm" ng-submit="submitNameInfo()" ng-show="showForm" novalidate)
        %fieldset
          %span Betalningstjänsten kräver ditt för- och efternamn.
          %label(for="first-name") Förnamn:
          %input(type="text"
                name="first-name"
                placeholder="Förnamn"
                id="first-name"
                ng-model="userData.first_name"
                required)
          %label(for="lastname") Efternamn:
          %input(type="text"
                name="last-name"
                placeholder="Efternamn"
                id="last-name"
                ng-model="userData.last_name"
                required)
          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Gå vidare")
      %p(ng-hide="showCouponForm")
        %button(type="button" class="btn" ng-click="toggleCouponForm()") Klicka här om du har en rabattkod
      %form.form-horizontal(ng-show="showCouponForm" name="couponForm" ng-submit="submitCoupon()" novalidate)
        %fieldset
          %legend Rabattkod
          %label(for="coupon-code")
          %input(type="text"
                 name="coupon-code"
                 id="coupon-code"
                 ng-model="couponCode"
                 placeholder="Din rabattkod här")
          %input(type="submit"
                 class="btn"
                 name="code-submit"
                 value="Applicera")
      %p(ng-show="showCouponInfo" id="coupon-description")
        Beskrivning: {{coupon.description}}. Rabatt: {{coupon.discount_in_percentage_units}}%        
