.row
  .span3.bottom-buffer(ng-controller="MemberSidebarController" ng-include="memberSidebarUrl")
  .span9
    .padhack
      .alert-error(ng-show="showUserInactiveMessage")
        Tipsa dina vänner om HittaLyan och få gratis extradagar. 
        %a(href="#!/medlemssidor/kampanjer") Se kampanjer!
      
      %h2 Prenumerationer
      %p Betala direkt med Payson. Payson samarbetar med Visa/Mastercard och internetbankerna Swedbank, Handelsbanken, SEB och Nordea.
      :markdown
        Moms ingår i alla priser. 
        Inga extra avgifter tillkommer. 
        Vi har ingen uppsägningstid, utan alla prenumerationer avslutas automatiskt när prenumerationstiden är över.
      %hr
      %form(name="nameForm" ng-submit="submitNameInfo()" ng-show="showForm" novalidate)
        %fieldset
          %span Betalningstjänsten kräver ditt för- och efternamn.
          %label(for="first-name") Förnamn:
          %input(type="text"
                name="first-name"
                placeholder="Förnamn"
                id="first-name"
                ng-model="userData.first_name"
                required)
          %label(for="lastname") Efternamn:
          %input(type="text"
                name="last-name"
                placeholder="Efternamn"
                id="last-name"
                ng-model="userData.last_name"
                required)
          %br
          %input(type="submit"
                 class="btn"
                 name="save"
                 value="Gå vidare")
      .row-fluid.package-row.bottom-buffer(ng-repeat="package in packages" ng-hide="showForm")
        .span3
          %img.package-image(ng-src="{{imageURL(package.sku)}}")
        .span4
          %em {{package.description}}
        .span2
          %strong {{couponifyPrice(package, coupon)}} kr
        .span3
          %button.btn.btn-buy(ng-click="buyPackage(package.sku)") Köp
      %p(ng-hide="showCouponForm")
        %button(type="button" class="btn" ng-click="toggleCouponForm()") Klicka här om du har en rabattkod
      %form.form-horizontal(ng-show="showCouponForm" name="couponForm" ng-submit="submitCoupon()" novalidate)
        %fieldset
          %legend Rabattkod
          %label(for="coupon-code")
          %input(type="text"
                 name="coupon-code"
                 id="coupon-code"
                 ng-model="couponCode"
                 placeholder="Din rabattkod här")
          %input(type="submit"
                 class="btn"
                 name="code-submit"
                 value="Applicera")
      %p(ng-show="showCouponInfo" id="coupon-description")
        Beskrivning: {{coupon.description}}. Rabatt: {{coupon.discount_in_percentage_units}}%
