.row.cover-image.cover-image--signup
  .span9.hero-unit.hero-unit--center.text-center
    %h1 Bli medlem
    %p.top-buffer-herounit För <span class=markety-important>298</span> kr skickar vi mejl och SMS till dig så fort en först-till-kvarnen lägenhet dyker upp hos någon av de hyresvärdar vi bevakar. Vill du fortsätta leta lägenheter efter 30 dagar kan du förnya medlemskapet för <span class=markety-important>halva priset 149 kr</span>.
    %p.top-buffer-herounit Det är enkelt att komma igång. Registrera dina uppgifter nedan och börja använda HittaLyans tjänst. Mobilnummer för SMS registrerar du efter du har loggat in.
    .markety-icon
      %i.icon-chevron-down
.row
  .span7.center.top-buffer-text
    .padhack
      .alert.alert-info.text-center
        Redan medlem? <a href="/#!/login">Logga in här</a>

.row
  .span7.bottom-buffer2.sales-box.box.center
    %form.form-horizontal(name="signup" ng-submit="submit()" novalidate)
      %fieldset
        .control-group.control-group-compact
          %label.control-label(for="first-name")
            %strong Förnamn:
          .controls
            %input.control-buffer(type="text"
                  name="first-name"
                  placeholder="Förnamn"
                  id="first-name"
                  ng-model="first_name"
                  required)
            %span(ng-show="signup['first-name'].$valid")
              %i.icon-ok.checkmark.okness.icon-large
        .control-group.control-group-compact
          %label.control-label(for="last-name")
            %strong Efternamn:
          .controls
            %input.control-buffer(type="text"
                  name="last-name"
                  placeholder="Efternamn"
                  id="last-name"
                  ng-model="last_name"
                  required)
            %span(ng-show="signup['last-name'].$valid")
              %i.icon-ok.checkmark.okness.icon-large
        .control-group.control-group-compact
          %label.control-label(for="email")
            %strong Din e-postadress:
          .controls
            %input.control-buffer(type="email"
                   name="email"
                   placeholder="E-postadress"
                   id="email"
                   ng-model="email"
                   required)
            %span(ng-show="signup.email.$valid")
              %i.icon-ok.checkmark.okness.icon-large
            %span.mobile-block(ng-class="{'visibility-hidden': !(signup.email.$error.email)}")
              Ogiltig&nbsp;e-postadress.
        .control-group.control-group-compact
          %label.control-label(for="password")
            %strong Önskat lösenord:
          .controls
            %input.control-buffer(type="password"
                   name="password"
                   placeholder="Lösenord"
                   id="password"
                   ng-model="password"
                   required
                   ng-minlength="6"
                   ng-maxlength="36")
            %span(ng-show="signup.password.$valid")
              %i.icon-ok.checkmark.okness.icon-large
            %span.mobile-block(ng-class="{'visibility-hidden': !(signup.password.$error.minlength)}") 
              Lösenordet&nbsp;är&nbsp;för&nbsp;kort.
        .control-group.control-group-compact
          %label.control-label(for="referee")
            %strong Referent:
          .controls
            %input.control-buffer(type="email"
                   name="referee"
                   placeholder="Referent"
                   id="referee"
                   ng-model="referee")
            %span(ng-show="signup.referee.$valid && referee")
              %i.icon-ok.checkmark.okness.icon-large
            %span.mobile-block(ng-class="{'visibility-hidden': !(signup.referee.$error.email)}")
              Ogiltig&nbsp;e-postadress.
        .control-group.control-group-compact
          .controls
            %input(type="submit"
                   class="btn"
                   name="signup"i
                   value="Fortsätt till betalning")
            %span(ng-show="working")
              %i.icon-spinner.checkmark.icon-spin.icon-large
              {{message}}
            %span(ng-show="cross")
              %i.icon-remove.checkmark.wrongness.icon-large
              {{message}}
