%form(name="signup" ng-submit="submit()")
  %fieldset
    %legend Registrera dig här!
    %label(for="email") Din e-postadress:
    %input(type="text"
           name="email"
           id="email"
           ng-model="email"
           required=true)
    
    %label(for="password") Lösenord:
    %input(type="password"
           name="password"
           id="password"
           ng-model="password"
           required
           ng-minlength="6"
           ng-maxlength="16")
    
    %input(type="submit" name="signup" value="Down the rabbit hole")
