<form id='signup' action='/signup' method='post' accept-charset='UTF-8'>
  <fieldset>
    <legend>Registrera dig här</legend>
    <ul>
      <li>
        <label for="name">Ditt namn:</label>
        <input type='text' name='name' id='name' maxlength="50"/>
      </li>
      <li>
        <label for="email">Din e-postaddress:</label>
        <input type='text' name='email' id='email' maxlength="50"/>
      </li>
      <li>
        <label for='password'>Lösenord:</label>
        <input type='password' name='password' id='password' maxlength="50"/>
      </li>
      <li>
        <input type='submit' name='login' value="Down the rabbit hole">
      </li>
      </ul>
  </fieldset>
</form>