<form id='signup' action='/signup' method='post' accept-charset='UTF-8'>
  <fieldset>
    <legend>Registrera dig här</legend>
    <label for="name">Ditt namn:</label>
    <input type='text' name='name' id='name' maxlength="50"/>
    <label for="email">Din e-postaddress:</label>
    <input type='text' name='email' id='email' maxlength="50"/>
    <label for='password'>Lösenord:</label>
    <input type='password' name='password' id='password' maxlength="50"/>
    <input type='submit' name='login' value="Logga in">
  </fieldset>
</form>