%form{name: "myForm", 'ng-submit' => "submit()"}
  %label{for: "rooms_min"} Rum: mimimumu:
  %input{type: "text", name: "rooms_min", id: "rooms", 'ng-model' => "input", required: true}
  %span {{message}}{{input}}
  %input{type: "submit", name: "save", value: "Spara"}