.row
  .span12.box.opaque
    .padhack
      %form(name="payment" ng-submit="submit()" novalidate)
        %fieldset
          %legend Betala här!
          %input(type="submit"
                 class="btn"
                 name="paybtn"
                 value="Betala")
