.row
  .span8.offset2.box.opaque
    .padhack
      Predicate: {{predicate}}
      %a(href="" ng-click="predicate = 'name'; reverse=false") Name
      %a(href="" ng-click="predicate = 'moomaa'; reverse=false") MooMaa
