.row.faq.box.opaque
  .span6
    .padhack
      %h1 Frågor & svar
      %h2 Hur får jag tillgång till HittaLyan?
      :markdown
        Tryck på _Kom igång_ i menyraden ovanför eller [klicka här](/#!/registrera). Vi bjuder på 7 dagars prenumeration på lägenhetstips.
        Om du vill fortsätta att använda dig av HittaLyan loggar du in och köper en prenumeration på 30 dagar för 139 kronor
         (tips via e-post) eller 179 kronor (tips via e-post och SMS).
        Väljer du prenumerationen med SMS ingår obegränsat antal SMS under 30 dagar.
      %h2 Är det någon uppsägningstid?
      :markdown
        Vi har ingen uppsägningstid. 
        Din prenumerationen avslutas automatiskt efter den tid du betalat för har passerat. 
        Har du t.ex. betalat för 30 dagar så avslutas din prenumeration efter det. 
        Om du vill fortsätta att använda dig av HittaLyan loggar du in på dina medlemssidor 
        och förnyar din prenumeration.
      %h2 Kommer jag att hitta en lägenhet om jag använder HittaLyan?
      :markdown
        Vi kan inte garantera att du du hittar en lägenhet,
        men vi kan ge dig så bra chanser som möjligt.
        Vi håller koll på lägenhetsmarknaden varje minut, 24 timmar om dygnet.
        Som prenumerant har därför även du alltid koll och kan agera direkt när något dyker upp.
      %h2 Hur många lägenheter är det ni har?
      :markdown
        Vi har inga egna lägenheter.
        Istället informerar vi om de lägenheter som hyresvärdar lägger ut på sina egna hemsidor. 
        Vi representerar inte någon hyresvärd och har inget samarbe med hyresvärdarna vars lägenheter vi tipsar om.
        Istället söker vi av internet efter lediga lägenheter.

        Det antal lägenheter vi tipsar om varierar beroende på hur många lägenheter hyresvärdarna 
        lägger ut. I snitt tipsar vi dock om mellan 100 och 150 lägenheter i Stockholmsområdet per månad.
  .span6
    .padhack
      %h2 Måste jag ställa mig i någon bostadskö?
      :markdown
        Samtliga lägenheter vi informerar om i dagsläget är lägenheter som förmedlas på andra sätt än genom en bostadskö.
        I praktiken betyder detta oftast att uthyrningsprincipen är _först till kvarn_.
        Detta innebär att om du är den som först skickat in en intresseanmälen, samt att du uppfyller hyresvärdens krav, 
        så är det du som får hyreskontraktet.
        Därför kan du även ha chans på en lägenhet om du inte är allra först, men bland de första som skickar en intresseanmälan.

        För att kunna skicka in intresseanmälningar måste du ofta registrera dig på hyresvärdarnas hemsidor.
        Med undantag från Stockholms Stads Bostadsförmedling är det gratis.
        Vi ger information till dig som prenumerant om vilka hyresvärdar du bör registrera dig hos, 
        så att du är förberedd när du får utskick om lägenheter där.
      %h2 Hur betalar jag?
      :markdown
        Betalning sker enkelt och säkert med Payson. 
        Även om du inte har ett Paysonkonto sedan tidigare kan du snabbt göra transaktionen via Payson. 
        Payson samarbetar med VISA, MasterCard samt alla svenska banker som erbjuder direktbetalningar: 
        Swedbank, Handelsbanken, SEB och Nordea.

        Payson håller höga säkerhetskrav och är PCI-certifierade av Trustwave som är en internationell organisation för säker e-handel. 
        All trafik krypteras genom SSL 128 bitar och alla kortöverföringar bygger på bankernas så kallade 3D-secure teknik.

        Payson startade 2004 i Sverige och över en miljon personer har använt Payson som är en välkänd betallösning på internet.

        Läs mer om Payson här: [www.payson.se](http://www.payson.se/)
      %img(src="images/payson.png")
      %h2 Jag har en annan fråga. Hur kontaktar jag er?
      :markdown
        Du kontaktar oss enklast via [vårt kontaktformulär](/#!/om). Det går även bra att skicka e-post till <mailto:hittalyan@lingonberryproductions.se>.



