.row
  .span3
    #member-nav(ng-show="isLoggedIn()")
      %ul.nav.nav-stacked.nav-pills
        %li.box.opaque.member-nav-side.member-nav-top
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li.box.opaque.member-nav-side
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li.box.opaque.member-nav-side
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
        %li.box.opaque.member-nav-side
          %a{href: "#!/medlemssidor/kampanjer"} Kampanjer
    #member-info-box
      .box.opaque
        .alert(ng-show="showUserInactiveMessage")
          Du har ingen aktiv prenumeration.
          %a(href="#!/medlemssidor/prenumeration") Förläng din prenumeration
        .alert.alert-info(ng-show="userData.active")
          Din prenumeration gäller fram till och med {{oneDayBefore(userData.premium_until) | date: 'yyyy-MM-dd'}}.
          %div(ng-show="userData.sms_until && smsActiveState")
            SMS är aktiverat fram till och med {{oneDayBefore(userData.sms_until) | date: 'yyyy-MM-dd'}}.
  .span9
    .padhack
      :markdown
        ## Frågor & svar
        Här har vi samlat svar på frågor vi ofta får om vad HittaLyan är och hur vi kan hjälpa dig att 
        hitta en hyreslägenhet.
    .row
      .span4.bottom-buffer
        .padhack
          %h3.top-buffer-text.faq-title Hur får jag tillgång till HittaLyan?
          :markdown
            Tryck på någon av _Kom igång direkt_-knapparna eller [klicka här](/#!/registrera).
            Betalning sker enkelt och säkert med Payson. Du kan börja använda dig av tjänsten omedelbart.
          %h3.top-buffer-text.faq-title Har ni någon uppsägningstid?
          :markdown
            Vi har ingen uppsägningstid. 
            Din prenumerationen avslutas automatiskt efter den tid du betalat för har passerat. 
            Har du t.ex. betalat för 30 dagar avslutas din prenumeration efter det. 
            Om du vill fortsätta att använda dig av HittaLyan loggar du in på dina medlemssidor 
            och förnyar din prenumeration.
          %h3.top-buffer-text.faq-title Kommer jag att hitta en lägenhet om jag använder HittaLyan?
          :markdown
            Vi kan inte garantera att du du hittar en lägenhet,
            men vi kan ge dig så bra chanser som möjligt.
            Vi håller koll på lägenhetsmarknaden varje minut, 24 timmar om dygnet.
            Som prenumerant har därför även du alltid koll och kan agera direkt när en lägenhet utannonseras.
          %h3.top-buffer-text.faq-title Hur många lägenheter har ni?
          :markdown
            Vi har inga egna lägenheter.
            Istället informerar vi om de lägenheter som hyresvärdar lägger ut på sina egna hemsidor.
            Vi representerar inte någon hyresvärd och har inget samarbe med hyresvärdarna vars lägenheter vi tipsar om.
            Istället söker vi av internet efter lediga lägenheter.

            Det antal lägenheter vi tipsar om varierar beroende på hur många lägenheter hyresvärdarna 
            lägger ut. I snitt tipsar vi dock om mellan 100 och 150 lägenheter i Stockholmsområdet per månad.
          %img(src="/images/Stockholm_bird_view.jpg")
          %h3.top-buffer-text.faq-title Måste jag ställa mig i någon bostadskö?
          :markdown
            Samtliga lägenheter vi informerar om i dagsläget är lägenheter som förmedlas på andra sätt än genom en bostadskö.
            I praktiken betyder detta oftast att uthyrningsprincipen är _först till kvarn_.
            Detta innebär att om du är den som först skickat in en intresseanmälen, samt att du uppfyller hyresvärdens krav, 
            så är det du som får hyreskontraktet.
            Därför kan du även ha chans på en lägenhet om du inte är allra först, men bland de första som skickar en intresseanmälan.

            För att kunna skicka in intresseanmälningar måste du ofta registrera dig på hyresvärdarnas hemsidor.
            Med undantag från Stockholms Stads Bostadsförmedling är det gratis.
            Vi ger information till dig som prenumerant om vilka hyresvärdar du bör registrera dig hos, 
            så att du är förberedd när du får utskick om lägenheter där.
      .span4.bottom-buffer.faq-secondcolumn
        .padhack
          %h3.top-buffer-text.faq-title Varför ska jag välja er istället för en av era konkurrenter?
          :markdown
            HittaLyan skapades som svar på liknande tjänster efter att vi provat dem och tyckt att idén bakom var god, men att utförandet kunde varit bättre. De fungerade inte som utlovat utan krånglade ofta. Ofta missade de lägenheter eller angav felaktiga uppgifter om lägenheterna. Ibland var de inte snabba nog. Snabbhet var just det vi trodde att vi betalade för. Vi ville få tipsen som SMS, men den möjligheten begränsades på olika sätt. Antingen gick det inte att få SMS om alla lägenheter, eller så kostade varje SMS.

            Så vad vi skapade var en tjänst som vi själv ville använda. Vi är precis så snabba som vi säger att vi är och vår tjänst underhålls aktivt. Vill du ha SMS så ingår det i priset, utan begränsningar.

          // http://www.istockphoto.com/photo/stockholm-embankment-with-boats-6396489?st=74e2129
          %img(src="/images/Stockholm_docks.jpg")
          %h3.top-buffer-text.faq-title Varför får jag inte några mejl från HittaLyan?
          :markdown
            När du registrerade dig hos HittaLyan skickades ett välkomstbrev till den e-postadress du angav. Om du inte fått detta mejl pröva att titta bland din skräppost. Om du hittar mejlet där måste du markera att det faktiskt inte är skräppost så borde du i fortsättningen få mejl från oss.
            
            Hur du gör detta skiljer sig åt beroende på vilken e-postklient du använder (Hotmail, GMail, Outlook etc.),
            men det brukar vara enkelt att hitta
          %h3.top-buffer-text.faq-title Hur betalar jag?
          :markdown
            Betalning sker enkelt och säkert med Payson. 
            Även om du inte har ett Paysonkonto sedan tidigare kan du snabbt göra transaktionen via Payson. 
            Payson samarbetar med VISA, MasterCard samt alla svenska banker som erbjuder direktbetalningar: 
            Swedbank, Handelsbanken, SEB och Nordea.

            Payson håller höga säkerhetskrav och är PCI-certifierade av Trustwave som är en internationell organisation för säker e-handel. 
            All trafik krypteras genom SSL 128 bitar och alla kortöverföringar bygger på bankernas så kallade 3D-secure teknik.

            Payson startade 2004 i Sverige och över en miljon personer har använt Payson som är en välkänd betallösning på internet.

            Läs mer om Payson här: [www.payson.se](http://www.payson.se/)

          // http://www.istockphoto.com/photo/central-stockholm-8111198?st=50963f3
          %img(src="images/payson.png")
          %h3.top-buffer-text.faq-title Jag har en annan fråga. Hur kontaktar jag er?
          :markdown
            Hör gärna av dig. Det kan du göra via [vårt kontaktformulär](/#!/om), eller via e-post till <mailto:info@hittalyan.se>.
