.row
  .span12.box.opaque
    .padhack
      %h1 Vanliga frågor
      %h3 1. Hur får jag tillgång till tjänsten?
      :markdown
        Du börjar med att registrera dig som medlem.
        Då får du tillgång till en begränsad version av tjänsten som gör att du kan kolla runt litegrann och få en bild av hur allt fungerar.
        Som medlem kan du sedan uppgradera ditt medlemskap till ett premiummedlemskap.
        Då får du tillgång till automatiska utskick av lägenhetstips.

        Registrera dig som medlem kan du göra från förstasidan eller genom att klicka [här](/#!/registrera).
      %h3 2. Betalning med Payson
      :markdown
        Betalning sker enkelt och säkert med Payson. 
        Även om du inte har ett Paysonkonto sedan tidigare kan du snabbt göra transaktionen via Payson. 
        Payson samarbetar med VISA, MasterCard samt alla svenska banker som erbjuder direktbetalningar: 
        Swedbank, Handelsbanken, SEB och Nordea.

        Payson håller höga säkerhetskrav och är PCI-certifierade av Trustwave som är en internationell organisation för säker e-handel. 
        All trafik krypteras genom SSL 128 bitar och alla kortöverföringar bygger på bankernas så kallade 3D-secure teknik.

        Payson startade 2004 i Sverige och över en miljon personer har använt Payson som är en välkänd betallösning på internet.

        Läs mer om Payson här: [www.payson.se](http://www.payson.se/)
      %img(src="images/payson.png")
      %h3 3. Kommer jag att få en lägenhet med hjälp av HittaLyan?
      :markdown
        Vi kan inte garantera att du får det,
        men vi kan ge dig så bra chanser som möjligt.
        Vi håller koll på lägenhetsmarknaden 24 timmar om dygnet.
        Som premiummedlem har därför även du alltid koll och kan agera direkt när något dyker upp.
        Du slipper alltså surfa runt på hemsidor och leta själv.
      %h3 4. Hur många lägenheter har ni på HittaLyan?
      :markdown
        Vi har inga egna lägenheter.
        Istället informerar vi om de lägenheter som hyresvärdar lägger ut på sina egna hemsidor. 
        Det gör det även svårt att säga exakt hur många lägenheter du kan hitta via vår tjänst.
        
        Antalet lägenhetstips du får beror även på hur du ställer in ditt intressefilter. 
        Vi rekommenderar att du inte ställer in ditt lägenhetsfilter för strikt. 
      %h3 5. Måste jag ställa mig i någon bostadskö?
      :markdown
        Samtliga lägenheter vi informerar om i dagsläget är lägenheter som förmedlas på andra sätt än genom en bostadskö.
        I praktiken betyder detta oftast att uthyrningsprincipen är _först till kvarn_.
        Detta innebär att om du är den som först skickat in en intresseanmälen, samt att du uppfyller hyresvärdens krav, 
        så är det du som får hyreskontraktet.
        Därför kan du även ha chans på en lägenhet om du inte är allra först, men bland de första som skickar en intresseanmälan.

        För att kunna skicka in intresseanmälningar måste du i regel registrera dig på hyresvärdarnas hemsidor.
        Med undantag från Stockholms Stads Bostadsförmedling är det gratis.
        Vi ger information till våra premiummedlemmar om vilka hyresvärdar de bör registrera sig hos för att vara förberedd när de får utskick om lägenheter där.
