.row
  .span-sidenav
    #member-nav(ng-show="isLoggedIn()") 
      %ul.nav.nav-stacked.nav-pills
        %li.box.opaque
          %a{href: "#!/medlemssidor"} Medlemssidor
        %li.box.opaque
          %a{href: "#!/medlemssidor/installningar"} Inställningar
        %li.box.opaque
          %a{href: "#!/medlemssidor/prenumeration"} Prenumeration
        %li.box.opaque
          %a{href: "#!/medlemssidor/kampanjer"} Kampanjer
    #member-info-box
      .box.opaque
        .alert(ng-show="showUserInactiveMessage")
          Du har ingen aktiv prenumeration.
          %a(href="#!/medlemssidor/prenumeration") Förläng din prenumeration
        .alert.alert-info(ng-show="userData.active")
          Din prenumeration gäller fram till och med {{oneDayBefore(userData.premium_until) | date: 'yyyy-MM-dd'}}.
          %div(ng-show="userData.sms_until && smsActiveState")
            SMS är aktiverat fram till och med {{oneDayBefore(userData.sms_until) | date: 'yyyy-MM-dd'}}.
  %div
    .padhack
      :markdown
        ## Frågor & svar    
    .span4
      .box.opaque.bottom-buffer
        .box.opaque  
          %h3.top-buffer-text Hur får jag tillgång till HittaLyan?
          :markdown
            Tryck på _Kom igång_ i menyraden ovanför eller [klicka här](/#!/registrera). Vi bjuder på 7 dagars prenumeration på lägenhetstips.
            Om du vill fortsätta att använda dig av HittaLyan loggar du in och köper en prenumeration på 30 dagar för 139 kronor
             (tips via e-post) eller 179 kronor (tips via e-post och SMS).
            Väljer du prenumerationen med SMS ingår obegränsat antal SMS under 30 dagar.
          %h3.top-buffer-text Är det någon uppsägningstid?
          :markdown
            Vi har ingen uppsägningstid. 
            Din prenumerationen avslutas automatiskt efter den tid du betalat för har passerat. 
            Har du t.ex. betalat för 30 dagar så avslutas din prenumeration efter det. 
            Om du vill fortsätta att använda dig av HittaLyan loggar du in på dina medlemssidor 
            och förnyar din prenumeration.
          %h3.top-buffer-text Kommer jag att hitta en lägenhet om jag använder HittaLyan?
          :markdown
            Vi kan inte garantera att du du hittar en lägenhet,
            men vi kan ge dig så bra chanser som möjligt.
            Vi håller koll på lägenhetsmarknaden varje minut, 24 timmar om dygnet.
            Som prenumerant har därför även du alltid koll och kan agera direkt när något dyker upp.
          %h3.top-buffer-text Hur många lägenheter är det ni har?
          :markdown
            Vi har inga egna lägenheter.
            Istället informerar vi om de lägenheter som hyresvärdar lägger ut på sina egna hemsidor. 
            Vi representerar inte någon hyresvärd och har inget samarbe med hyresvärdarna vars lägenheter vi tipsar om.
            Istället söker vi av internet efter lediga lägenheter.

            Det antal lägenheter vi tipsar om varierar beroende på hur många lägenheter hyresvärdarna 
            lägger ut. I snitt tipsar vi dock om mellan 100 och 150 lägenheter i Stockholmsområdet per månad.
          %h3.top-buffer-text Måste jag ställa mig i någon bostadskö?
          :markdown
            Samtliga lägenheter vi informerar om i dagsläget är lägenheter som förmedlas på andra sätt än genom en bostadskö.
            I praktiken betyder detta oftast att uthyrningsprincipen är _först till kvarn_.
            Detta innebär att om du är den som först skickat in en intresseanmälen, samt att du uppfyller hyresvärdens krav, 
            så är det du som får hyreskontraktet.
            Därför kan du även ha chans på en lägenhet om du inte är allra först, men bland de första som skickar en intresseanmälan.

            För att kunna skicka in intresseanmälningar måste du ofta registrera dig på hyresvärdarnas hemsidor.
            Med undantag från Stockholms Stads Bostadsförmedling är det gratis.
            Vi ger information till dig som prenumerant om vilka hyresvärdar du bör registrera dig hos, 
            så att du är förberedd när du får utskick om lägenheter där.

    .span4
      .box.opaque.bottom-buffer
        .box.opaque
          %h3.top-buffer-text Varför ska jag välja er istället för en av era konkurrenter?
          :markdown
            HittaLyan skapades som svar på liknande tjänster efter att vi provat dem och tyckt att idén bakom var god, men att utförandet kunde varit bättre. Den populäraste tjänsten hade inget sätt att filtrera lägenheter. Efter ett tag blev det frustrerande varje gång ett tips på en lägenhet som var alldeles för dyr dök upp. Vi ville få tipsen som SMS, men den möjligheten begränsades på olika sätt. Antingen gick det inte att få SMS om alla lägenheter, eller så kostade varje SMS. Vissa tjänster var inte snabba nog. Snabbhet var just det vi trodde att vi betalade för. Samtliga verkade inte underhållas ordentligt. Det var ofta som det dök upp fel i uppgifterna om lägenheterna.

            Så vad vi skapade var en tjänst som vi själv gillar att använda. Vi slösar inte din tid med att tipsa om sådant du inte är intresserad av och vill du ha SMS är det en engångskostnad för obegränsat antal SMS. Vi är precis så snabba som vi säger att vi är och vår tjänst underhålls aktivt. 
          %h3.top-buffer-text Hur betalar jag?
          :markdown
            Betalning sker enkelt och säkert med Payson. 
            Även om du inte har ett Paysonkonto sedan tidigare kan du snabbt göra transaktionen via Payson. 
            Payson samarbetar med VISA, MasterCard samt alla svenska banker som erbjuder direktbetalningar: 
            Swedbank, Handelsbanken, SEB och Nordea.

            Payson håller höga säkerhetskrav och är PCI-certifierade av Trustwave som är en internationell organisation för säker e-handel. 
            All trafik krypteras genom SSL 128 bitar och alla kortöverföringar bygger på bankernas så kallade 3D-secure teknik.

            Payson startade 2004 i Sverige och över en miljon personer har använt Payson som är en välkänd betallösning på internet.

            Läs mer om Payson här: [www.payson.se](http://www.payson.se/)
          %img(src="images/payson.png")
          %h3.top-buffer-text Jag har en annan fråga. Hur kontaktar jag er?
          :markdown
            Du kontaktar oss enklast via [vårt kontaktformulär](/#!/om). Det går även bra att skicka e-post till <mailto:info@hittalyan.se>.
