/*GREEN for ok. Semantics*/
/*First time doesn't seem to have any effect. It's a sucky mystery.*/
.okness {
  color: #198a00;
}

/*GREEN for ok. Semantics*/
/*First time doesn't seem to have any effect. It's a sucky mystery.*/
.okness {
  color: #198a00;
}

/*RED for wrong. Semantics*/
.wrongness {
  color: #FF0000;
}

.checkmark {
  margin-left: 5px;
}

.city {
  margin-right: 2px;
  margin-left:  2px;
  border: 1px solid;
  border-color: rgb(204, 204, 204);
  padding: 2px;
}

.city a {
  text-decoration: none;
  color: inherit;
}


/*Make bootstrap grok some Angular*/

/*Ng says invalid for whatever reason. Red*/
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/*Invalid and in focus. Glowy red*/
input:focus.ng-dirty.ng-invalid,
textarea:focus.ng-dirty.ng-invalid,
select:focus.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

/*Valid. Blue*/
input.ng-valid {
  color: #00a8ed;
  border-color: #00a8ed;
}

/*Valid and in focus. Glowy blue*/
input:focus.ng-valid {
  color: #00a8ed;
  border-color: #00a8ed;
}

/*Background image for entire app*/
body { 
	/*background: url(/images/gamla_stan_cc_attribution.jpg) no-repeat center center fixed; */
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.markety-box h2 {
  font-size: 23px;
  text-align: center;
}

/*Landing hero, duh.*/
.hero-unit h1{
  font-size: 48px;
}

/*Should fit on one line, 
  have a bit of space separating it from the h1 above,
  and sit closer to the p text below.*/
.hero-unit h2 {
  font-size: 20px;
  font-weight: 500;
}

.markety-box p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

.markety-box li {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

/*Rounding of those dangerous corners*/
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Hacking padding bootstrap.row.span. Needs to be put in a div.*/
.padhack {
  padding: 15px;
}

/*Set element background to white and make that same BACKGROUND transparent*/
.opaque {
  background: rgb(255, 255, 255) transparent; /* default fallback */
  background: rgba(255, 255, 255, 0.9); /* nice browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); /* IE 6/7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; /* IE8 */
}

#links {
  padding-left: 40%;
  /*padding-right: 35%;*/
  padding-bottom: 20px;
}

#apartments-list td {
  /*background-color: pink;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-item {
  /*display: block;
  padding-right: 50px;
  padding-bottom: 25px;*/
}

.payson-button {
  background-image: url(/images/payson_betala_btn.png); /* 16px x 16px */
}

.bottom-buffer {
  margin-bottom: 30px;
}

.bottom-buffer2 {
  margin-bottom: 75px;
}

.vertical-nav-box {
  max-width: 140px;
  padding: 8px 0;
}

/*Forcing vertical scrollbar to prevent jumping*/
body {
  overflow-y: scroll; 
}

.large-textarea {
  width: 95%;
  max-width: 500px;
}

/*Set element background to black and make that same BACKGROUND transparent*/
.dark-opaque {
  color: #e7eef0; /* approximately the regular opaque color when on our background */
  background: rgb(0, 0, 0) transparent; /* default fallback */
  background: rgba(0, 0, 0, 0.8); /* nice browsers */
}

/* Align text in nav bar the same as links */
.navbar .nav > li > span {
  float: none;
  padding: 10px 15px;
}
.nav > li > span {
    display: block;
}

/* Used for custom elements in forms where Bootstrap doesn't specify padding,
   e.g. the list of cities on the settings page. */
.custom-input{
  padding: 4px 0px 4px 0px;
}

/* When you want to place spans beside/underneath the control,
   like an error message. */
.control-buffer {
  margin-right: 4px !important;
  margin-bottom: 4px !important;
}

.text-center {
  text-align: center
}

/* Makes the apartment image sit closer to the text. Small cosmetic change.
   the more important one is in the media queries where we change this to
   "float: left". The float prevents unnecessary stacking on smaller
   screens. */
.apartment-image {
  float: right;
}

.package-image {
  max-width: 100px;
  float: right;
}

.package-row {
  /* Limit the width a bit for nicer display on larger screens. */
  max-width: 600px;
}

.center form {
    display:inline-block;
}

.force-display {
  display: visible !important;
}

.force-hide {
  display: none !important;
}

/* The point of this instead of "display: none" or ng-show/ng-hide is that it
  still takes  up space. */
.visibility-hidden {
  visibility: hidden !important; 
}

.display-visible {
  display: visible;
}

.control-group-compact {
  margin: 2px !important;
}

/* FAQ styles */
.faq h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
  line-height: 20px;
}

/* Would be a bit too small if we'd just write Köp and be done with it,
   so some extra horizontal padding is really what we need. */
.btn-buy {
  padding-left: 30px;
  padding-right: 30px;
}

/*
======= 
LAYOUT
=======
Push content beneath navbar and put footer at the bottom.
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrap {
  padding: 0px;
  padding-top: 100px; /* Push us beneath the navbar */
  /*height: auto !important;*/
  min-height: 100%; /* For browser that don't support calc */
  min-height: calc(100% - 100px); /* Compensate for navbar */
  /*height: 100%;*/
  position: relative; /* To be able to position #footer with absolute */
}

#footer {
  height: 300px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#content {
  /* This should match the height of the footer + desired padding.
     Here: 300px for the footer and 0px padding */
  padding-bottom: 300px;
}

.trial-sticker {
  float: right;
  max-width: 50%;
}

#mainnav {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

/*
=====================
Bootstrap extensions
=====================
*/

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
  padding: 10px 18px;
  font-size: 20px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  }

.hittalyan-nav-text {
  color: rgb(153, 153, 153) !important;
}

.hittalyan-limit-form-width {
  max-width: 450px;
}


/* Vertically position footer content in desktop/tablet view */
.footer-item-vertical-center {
  line-height: 60px;
}

#footer img {
  vertical-align: bottom;
}

.footer-text {
  display: block;
  margin-top: 30px;
  text-align: right;
}

#step1-image {
  display: block;
  float: right;
  padding-right: 5px; /* To align approximately with step2-image */
}

#step2-image {
  display: block;
  float: right;
}

#step2-text {
  display: block;
  margin-top: 12px;
}

.markety-icon {
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  height: 100px;
}

.icon-notanicon {
  font-family: Arial, Helvetica, Geneva, SansSerif;
  font-weight: bold;
}

.markety-equal-height {
  /* Set to take into account that Helvetica will be used for some users
     instead of Helvetica Neue. */
  min-height: 410px; 
}

.btn-compact {
  padding: 2px 6px;
}

/*
==============
Media queries
==============
*/

/* Large desktop */
@media (min-width: 1200px) {
  .markety-equal-height {
    min-height: 380px;
  }

  .visible-large-desktop {
    display: visible;
  }

  .hidden-large-desktop {
   display: none; 
  }
}

/* Small desktop and down */
@media (max-width: 1200px) {
  .visible-large-desktop {
    display: none; 
  }
}

@media (max-width: 979px) {
  /*When making navbar collapsible it's position is no longer absolute
    and so we no longer need to push our wrapper beneath it. The navbar has
    some margin-bottom instead.*/
  #wrap {
    padding-top: 25px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  /* Hero unit */
  .hero-unit h1 {
   font-size: 36px; 
  }

  .hero-unit h2 {
    line-height: 24px;
  }

  .markety-box h2 {
    font-size: 20px;
  }

  .markety-equal-height {
    min-height: 470px;
  }

  .tablet-block {
    display: block;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .footer-text {
    text-align: inherit !important;
  }

  .hero-unit h1 {
    font-size: 36px;
  }

  .hero-unit h2 {
    line-height: 24px;
  }

  .markety-box {
    margin-top: 25px;
  }

  /* Curved borders don't look so good when the boxes cover the whole width of
     the screen. */
  .box {
    border-radius: 0px;
  }

  .hero-unit {
    border-radius: 0px;
  }

  /* Adapt footer styles to vertical display */
  #footer {
    height: 300px;
    text-align: center;
  }

  #content {
   padding-bottom: 340px;
  }

  .footer-item {
    margin-top: 15px;
  }

  /* Makes the apartment image fit horizontally instead of stacking unnecessarily
   on smaller screens. */
  .apartment-image {
    float: left;
  }

  /* Similar to apartment-image. */
  .package-image {
    max-width: 100px;
    float: left;
  }

  #step1-image {
    float: left;
    padding-right: 10px;
  }

  #step2-image {
    float: left;
    padding-right: 10px;
  }

  #step2-text {
    margin-top: inherit;
  }

  .markety-equal-height {
    min-height: inherit;
  }

  .tablet-block {
    display: block;
  }

}

 
/* Landscape phones and down */
@media (max-width: 480px) {
  .hero-unit {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }

  .hero-unit h1 {
    font-size: 20px;
    line-height: 24px;
  }

  .hero-unit h2 {
    font-size: 18px;
    font-weight: 400;
  }

  .trial-sticker {
    max-width: 30%;
  }

  .apartment-image {
    max-width: 45%;
  }

  .mobile-block {
    display: block;
  }

  .btn-buy {
    /* To align all buttons the same way. */
    margin-right: 100%;
  }

  .tablet-block {
    display: block;
  }
}


/* Makes navbar fatter */
.navbar--fat {
  min-height: 70px;  
}

.navbar-vertical-center {
  margin-top: 15px;
}

.content {
  width: 100%;
}

.top-buffer {

  margin-top: 75px;
}

.top-buffer-text {
  margin-top: 45px;
}

.top-buffer-herounit {
  margin-top: 10px;
}

.center { 
  float: none;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 0px) {
.hero-unit__center {
  float: none;
  margin-top: 70px;
  margin-bottom: auto;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}
}

.text-left {
  text-align: left;
}

.landingpage__image {
  width: 100%;
  height: 500px;
}

/*Makes the distance not exist between background image and the navbar*/
@media (min-width: 877px) {
.background-image-top-margin {
margin-top: -30px;
}
}

@media (min-width: 0px) {
.background-image-top-margin {
margin-top: -45px;
}
}

/*Make the distance between hero-unit and footer 0*/
.hero-unit {
  margin-bottom: 0px;
  background-color: white;
}

/*Set element background to black and make that same BACKGROUND transparent*/
.dark-opaque {
  color: black; /* approximately the regular opaque color when on our background */
}
