/*GREEN for ok. Semantics*/
.okness {
  color: #198a00;
}

/*RED for wrong. Semantics*/
.wrongness {
  color: #FF0000;
}

.checkmark {
  margin-left: 5px;
}

/*Make bootstrap grok some Angular*/

/*Ng says invalid for whatever reason. Red*/
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/*Invalid and in focus. Glowy red*/
input:focus.ng-dirty.ng-invalid,
textarea:focus.ng-dirty.ng-invalid,
select:focus.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

/*Valid. Blue*/
input.ng-valid {
  color: #00a8ed;
  border-color: #00a8ed;
}

/*Valid and in focus. Glowy blue*/
input:focus.ng-valid {
  color: #00a8ed;
  border-color: #00a8ed;
}

/*Background image for entire app*/
body { 
	background: url(/images/stockholmsvy.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Landing hero, duh.*/
.hero-unit h1{
  font-size: 55px;
}

.markety-box p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

/*Make room for the top bar*/
/*body {
  padding-top: 60px;
  padding-bottom: 40px;
}
*/
/*Rounding of those dangerous corners*/
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Hacking padding bootstrap.row.span. Needs to be put in a div.*/
.padhack {
  padding: 15px;
}

/*Set element background to white and make that same BACKGROUND transparent*/
.opaque {
  background: rgb(255, 255, 255) transparent; /* default fallback */
  background: rgba(255, 255, 255, 0.8); /* nice browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); /* IE 6/7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; /* IE8 */
}

#links {
  padding-left: 40%;
  /*padding-right: 35%;*/
  padding-bottom: 20px;
}

#apartments-list td {
  /*background-color: pink;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

#packages {
}

.push-right {
  padding-right: 50px;
}

.payson-button {
  background-image: url(/images/payson_betala_btn.png); /* 16px x 16px */
}

.top-buffer { margin-top:20px; }

.vertical-nav-box {
  max-width: 140px;
  padding: 8px 0;
}

/*Forcing vertical scrollbar to prevent jumping*/
body {
  overflow-y: scroll; 
}

.large-textarea {
  width: 500px;
}







html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/*Set element background to white and make that same BACKGROUND transparent*/
.dark-opaque {
  color: #e7eef0; # approximately the regular opaque color when on our background.
  background: rgb(0, 0, 0) transparent; /* default fallback */
  background: rgba(0, 0, 0, 0.8); /* nice browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); /* IE 6/7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; /* IE8 */
}


