/*GREEN for ok. Semantics*/
/*First time doesn't seem to have any effect. It's a sucky mystery.*/
.okness {
  color: #198a00;
}

/*GREEN for ok. Semantics*/
/*First time doesn't seem to have any effect. It's a sucky mystery.*/
.okness {
  color: #198a00;
}

/*RED for wrong. Semantics*/
.wrongness {
  color: #FF0000;
}

.checkmark {
  margin-left: 5px;
}

.city {
  margin-right: 2px;
  margin-left:  2px;
  border: 1px solid;
  border-color: rgb(204, 204, 204);
  padding: 2px;
}

.city a {
  text-decoration: none;
  color: inherit;
}

#packages {
  border-spacing: 2px;
}

#packages td {
  padding: 2px;
}

#packages .description {
  /*background-color: yellow;*/
}

#packages .price {
  min-width: 60px;
  /*background-color: lime;*/
}

#packages .buy {
  min-width: 100px;
  /*background-color: red;*/
}

/*Make bootstrap grok some Angular*/

/*Ng says invalid for whatever reason. Red*/
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/*Invalid and in focus. Glowy red*/
input:focus.ng-dirty.ng-invalid,
textarea:focus.ng-dirty.ng-invalid,
select:focus.ng-dirty.ng-invalid {
  color: #b94a48;
  border-color: #ee5f5b;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

/*Valid. Blue*/
input.ng-valid {
  color: #00a8ed;
  border-color: #00a8ed;
}

/*Valid and in focus. Glowy blue*/
input:focus.ng-valid {
  color: #00a8ed;
  border-color: #00a8ed;
}

/*Background image for entire app*/
body { 
	background: url(/images/stockholmsvy.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Landing hero, duh.*/
/*.hero-unit h1{
  font-size: 55px;
}*/

/*Should fit on one line, 
  have a bit of space separating it from the h1 above,
  and sit closer to the p text below.*/
/*hero-unit h2 {
  font-size: 26px;
  margin-top: 35px;
  line-height: 24px;
}
*/
.markety-box p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

.markety-box li {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

/*Rounding of those dangerous corners*/
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Hacking padding bootstrap.row.span. Needs to be put in a div.*/
.padhack {
  padding: 15px;
}

/*Set element background to white and make that same BACKGROUND transparent*/
.opaque {
  background: rgb(255, 255, 255) transparent; /* default fallback */
  background: rgba(255, 255, 255, 0.8); /* nice browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); /* IE 6/7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; /* IE8 */
}

#links {
  padding-left: 40%;
  /*padding-right: 35%;*/
  padding-bottom: 20px;
}

#apartments-list td {
  /*background-color: pink;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-item {
  padding-right: 50px;
}

.payson-button {
  background-image: url(/images/payson_betala_btn.png); /* 16px x 16px */
}

.top-buffer { margin-top:30px; }

/*Forcing vertical scrollbar to prevent jumping*/
body {
  overflow-y: scroll; 
}

.large-textarea {
  width: 500px;
}

/*Set element background to black and make that same BACKGROUND transparent*/
.dark-opaque {
  color: #e7eef0; /* approximately the regular opaque color when on our background */
  background: rgb(0, 0, 0) transparent; /* default fallback */
  background: rgba(0, 0, 0, 0.8); /* nice browsers */
}

/* Align text in nav bar the same as links */
.navbar .nav > li > span {
  float: none;
  padding: 10px 15px;
}
.nav > li > span {
    display: block;
}

/* Used for custom elements in forms where Bootstrap doesn't specify padding,
   e.g. the list of cities on the settings page. */
.custom-input{
  padding: 4px 0px 4px 0px;
}

.text-center {
  text-align: center
}

/*
======= 
LAYOUT
=======
Push content beneath navbar and put footer at the bottom.
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrap {
  padding-top: 60px; /* Push us beneath the navbar */
  height: auto !important;
  min-height: 100%; /* For browser that don't support calc */
  min-height: calc(100% - 60px); /* Compensate for navbar */
  height: 100%;
  position: relative; /* To be able to position #footer with absolute */
}

#footer {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
}

#content {
  /* This should match the height of the footer + desired padding.
     Here: 100px for the footer and 40px padding */
  padding-bottom: 140px;
}

.trial-sticker {
  float: right;
  max-width: 50%;
}

/*
=====================
Bootstrap extensions
=====================
*/

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
  padding: 10px 22px;
  font-size: 20px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  }

.hittalyan-nav-text {
  color: rgb(153, 153, 153) !important;
}

.hittalyan-limit-form-width {
  max-width: 450px;
}


/*
==============
Media queries
==============
*/

/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .hero-unit h1 {
    font-size: 50px;
  }

  .hero-unit h2 {
    font-size: 40px;
  }

  /*.hero-unit p {
    font-size: 12px;
  }*/
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 26px !important;
    line-height: 32px !important;
  }

  .markety-box {
    margin-top: 25px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 28px !important;
  }

  h2 {
    font-size: 22px !important;
    line-height: 22px !important;
  }
}
